<div id="calendar"></div>

<%= javascript_tag do %>
	$(document).ready(function() {

		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
    var tooltip = $('<div/>').qtip({
				id: 'fullcalendar',
				prerender: true,
				content: {
					text: ' ',
					title: {
						button: true
					},
				},
				position: {
					my: 'bottom right',
					at: 'bottom right',
					target: 'mouse',
					viewport: $('#fullcalendar'),
					adjust: {
						mouse: false,
						scroll: false
					}
				},
				show: true,
				hide: false,
				<!-- style: 'qtip-light qtip-rounded' -->
				style: { classes: 'myCustomClass' }
    }).qtip('api');

		<%= @service_schedule_param %>
		var e = <% global_s = [] %>
						<% if @service_schedule_param != "1" %>
							<% global_s = @schedule %>
						<% else %>
							<% global_s = @service_schedule %>
						<% end %>

							[<% global_s.each do |s| %> {
										title: <% engineers = ""  %>
										<% if s.user.nil? == false and s.user.email != "admin@nilpeter.com" %>
										<% engineers = engineers + s.user.email.split("@")[0].upcase  + ", " unless s.user.nil? %>
										<% end   %>
										<% s.users.each do |i| %>
										<% if i.email != s.user.email%>
									  	<% engineers = engineers + i.email.split("@")[0].upcase  + ", " %>
										<% end %>
				 						<% end %>
				              '<%= engineers.chomp(', ') %> ' + ': ' +
				              '<%= s.company_name unless s.company_name.nil? %> ' + ': ' +
											'<%= s.job_num unless s.job_num.nil? %> ' + ': ' +
											'<%= s.machine_number unless s.machine_number.nil? %> ' + ': ' +
											'<%= if s.chargable == 1 then "Chargable" else "" end %> ',
	                    company: '<%= s.company_name unless s.company_name.nil? %>',
	                    job_num: '<%= s.job_num unless s.job_num.nil? %>',
											machine_number: '<%= s.machine_number unless s.machine_number.nil? %>',
	                    sales: '<%= engineers %>',
	                    project: '<%= s.project.rstrip().gsub("'"){"\\'"}.split.join(' ') unless s.project.nil? %>',
	                    <% x = Array.new  %>
	                    <% s.products.each do |i| %>
	                      <% x.push(i.name)  %>
	                     <% end %>
	                    products: '<%= x.to_s %>',
											start: new Date(<%= s.date.strftime("%Y, %m-1, %d, %H, %M") unless s.date.nil? %>),
                      allDay: <%= if s.all_day == 1 then true else false end %>,
											color: <% if s.service_schedule %> 
											     '<%= 'green' %>'
											     <% elsif s.chargable == 1 %>
											     '<%= 'red' %>'
													 <% else %>
													 '<%= 'blue' %>'
													 <% end %>
													 ,
											end:  <% if !(s.end_date.nil?) %>
											      new Date(<%= s.end_date.strftime("%Y, %m-1, %d, %H, %M") unless s.end_date.nil? %>)
													 <% else %>
													 '<%= '' %>'
													 <% end %>,
										  id: <%= s.id %>,
											service: <%= if s.service_schedule.nil? then 0 else 1 end %>,
											no_timesheet: <%= s.timesheet_id.nil? %>,
											no_user_id: <%= s.user_id.nil? %>,
											timesheet_id: <%= !s.timesheet_id.nil? ? s.timesheet_id : false %>
				},
		<% end %>];


		<!-- console.log(e); -->

     var holiday = [<% @holidays.each do |s| %>
          {
             title:  '<%=  s.name.upcase %>',
             start: new Date(<%= s.date.strftime("%Y, %m - 1, %d, %H, %M") unless s.date.nil? %>),
             allDay: true
           },
      <% end %>];

     var name = "PLA";
     var saleName = function(object) {
          return object.sales.indexOf(name.toUpperCase()) > -1;
     };

    var filtered = e.filter(saleName);
		var calendar = $('#calendar').fullCalendar({
			header: {
				left: 'prev ,next today',
				center: 'title',
				right: ''
			},
			selectable: true,
			selectHelper: true,
			editable: false,
			firstDay: 1,
			weekNumbers: true,
      eventClick: function(data, event, view) {
			var content = '';
			console.log(data.has_timesheet);
			if (data.no_user_id === true) {
				var content = '<h3> '+data.company+'</h3>' +
								'<p><b>Job Number:</b> '+data.job_num +'<br />' +
								'<p><b>Machine Number:</b> '+data.machine_number +'<br />' +
								'<p><b>Start:</b> '+data.start+'<br />' +
	              '<p><b>Engineer:</b> '+data.sales+'<br />' +
	              '<p><b>Products:</b> '+data.products+'<br />' +
	              '<p><b>Project:</b> '+data.project+'<br />' +
					(data.end && '<p><b>End:</b> '+data.end+'</p>' || '') +
						'<a href="/register/edit/'+data.id+'">Edit Schedule</a>' + ' ' +
						 '<a href="/register/destroy/'+data.id+'" onclick="return confirm(' + "'Are you sure?'" + ')">Delete Schedule</a>' + ' ' +
						 '';

			} else if (data.no_timesheet === true) {
				var content = '<h3> '+data.company+'</h3>' +
								'<p><b>Job Number:</b> '+data.job_num +'<br />' +
								'<p><b>Machine Number:</b> '+data.machine_number +'<br />' +
								'<p><b>Start:</b> '+data.start+'<br />' +
	              '<p><b>Engineer:</b> '+data.sales+'<br />' +
	              '<p><b>Products:</b> '+data.products+'<br />' +
	              '<p><b>Project:</b> '+data.project+'<br />' +
					(data.end && '<p><b>End:</b> '+data.end+'</p>' || '') +
						'<a href="/register/edit/'+data.id+'?service_schedule='+data.service+'">Edit Schedule</a>' + ' ' +
						 '<a href="/register/destroy/'+data.id+'?service_schedule='+data.service+'" onclick="return confirm(' + "'Are you sure?'" + ')">Delete Schedule</a>' + ' ' +
						 '<a href="/ioscalendar/timesheet/'+data.id+'">Timesheet</a>';
			} else {
				var content = '<h3> '+data.company+'</h3>' +
								'<p><b>Job Number:</b> '+data.job_num +'<br />' +
								'<p><b>Machine Number:</b> '+data.machine_number +'<br />' +
								'<p><b>Start:</b> '+data.start+'<br />' +
	              '<p><b>Engineer:</b> '+data.sales+'<br />' +
	              '<p><b>Products:</b> '+data.products+'<br />' +
	              '<p><b>Project:</b> '+data.project+'<br />' +
					(data.end && '<p><b>End:</b> '+data.end+'</p>' || '') +
						'<a href="/register/edit/'+data.id+'?service_schedule='+data.service+'">Edit Schedule</a>' + ' ' +
						'<a href="/register/destroy/'+data.id+'?service_schedule='+data.service+'" onclick="return confirm(' + "'Are you sure?'" + ')">Delete Schedule</a>' + ' ' +
						'<a href="/ioscalendar/edit_timesheet/'+data.timesheet_id+'">Edit Timesheet</a>';
			}




			tooltip.set({
				'content.text': content
			})
			.reposition(event).show(event);
      },

			events: e,
      textColor: 'red',
      timeFormat: 'HH:mm',
      eventAfterRender: function (event, element, view) {
       <% @holidays.each do |s| %>
          $("td[data-date= '<%= s.date.strftime("%Y %m %d").gsub(/\s/, "-")%>' ]").css("background-color", "yellow");
       <% end %>
      },
		});

    $('#calendar').fullCalendar(  'addEventSource', holiday);

    $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results==null){
           return null;
        }
        else{
           return results[1] || 0;
        }
    }
    var searchVal = $.urlParam('search');
    console.log(searchVal);
    var timeouts = [];

    var search = function() {
     $('#sales_search input').keyup(function () {
        searchVal = $(this).text('#sales_search').val();
        name = searchVal;
        filtered = e.filter(saleName);
        $('#calendar').fullCalendar(  'removeEvents');
        $('#calendar').fullCalendar(  'addEventSource', filtered);
        $('#calendar').fullCalendar(  'refetchEvents');

        for (var i = 0; i < timeouts.length; i++) {
            clearTimeout(timeouts[i]);
        }
        timeouts = [];
        if (searchVal == "" || searchVal == null) {
            console.log("update from key");
            timeouts.push(setTimeout(updateComments, 10000));
        }
     });
    };
  search();

  var updateComments = function() {
    for (var i = 0; i < timeouts.length; i++) {
            clearTimeout(timeouts[i]);
        }
    timeouts = [];

		var moment = $('#calendar').fullCalendar('getDate');
		m = moment.getMonth()+1;
		console.log("m ="+m);



    if (searchVal == "" || searchVal == null) {
        console.log("update");
				<% if @service_schedule_param != "1" %>
				$.getScript('/calendar.js?month='+m);
				<% else %>
				$.getScript('/calendar.js?month='+m+'&service_schedule=1');
				<% end %>
        timeouts.push(setTimeout(updateComments, 10000));
    }
  };

  timeouts.push(setTimeout(updateComments, 10000));

	$(document).on("click",".fc-button-prev span",function(){
	   console.log('prev is clicked, do something');
		 $(".preload").fadeIn(0, function() {
 		});
		 updateComments();

	});

	$(document).on("click",".fc-button-next span",function(){
	   console.log('nextis clicked, do something');
		 $(".preload").fadeIn(0, function() {
 		});
		 updateComments();

	});

	$(document).on("click",".reload-page",function(){
		console.log('reloadpage clicked, do something');
		$(".preload").fadeIn(0, function() {
		});
		updateComments();

	});

	function confirm_delete(question) {

  if(confirm(question)){

     alert("Action to delete");

  }else{
    return false;
  }

}

	});


<% end %>
