<style>
  .user_name {
    text-align: left;
  }

  th {
    color: #303030;
  }

  tbody td {
    font-size: 10pt;
    text-align: center;
  }

  .navbar-form {
    padding: 0px;

  }

  #header-fixed {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
    z-index:99999;
  }

.fc-first.fc-last > .fc-week-number {
    width: 5px;
    margin: 0px;
    padding-top: 0px;
    padding-left: 4px;
    padding-bottom: 7px;
    padding-right: 3px;
  }

  .preload {
     width:150px;
     height: 150px;
     position: fixed;
     top: 50%;
     left: 50%;
     background: url(http://i.imgur.com/KUJoe.gif) no-repeat;
     border-radius: 5px;
   }

   .myCustomClass{
      border-color: red;
      background-color: #D3D3D3;
     }

    .myCustomClass .qtip-content{
      color: black;
    }

</style>

<div class="container">
  <div class="preload">
  <%#*<img src="http://i.imgur.com/KUJoe.gif" height="150" width="150">%>
  </div>

  <input id="swap" type="checkbox" name="vehicle" value="Bike"> Swap

  <%= form_tag '/', :method => 'get', :id => "sales_search", :class => "navbar-form navbar-right" do %>
    <p>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], :placeholder => "SEARCH ENGINEER NAME" %>
      </div>
    </p>
  <% end %>
  
  <br>

  

  <% if current_user %>
    <div class="user_name">
    WELCOME <%= current_user.email %>.
    <button class="reload-page">Refresh</button>
    </div>

  <% end %>

  <% flash.each do |key, value| %>
    <div style="color:red;"><%= value %></div>
  <% end %>
  <%= yield %>


  <table id="header-fixed" class="table table-bordered"></table>
  
  <div id="calendar_p"><%= render 'calendar_partial' %>
  </div>

</div>
<div><%= render 'hover' %></div>

<%= javascript_tag do %>

    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
          }
      }
  };

     $(document).ready(function() {

              $('html,body').animate({
                  scrollTop: 425
              }, 0)

              var tableOffset = $(".fc-border-separate").offset().top;

              var $header = $(".fc-border-separate > thead").clone();
              var $fixedHeader = $("#header-fixed").append($header);

              $(window).bind("scroll", function() {
                  var offset = $(this).scrollTop();

                  if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
                      $fixedHeader.show();
                  }
                  else if (offset < tableOffset) {
                      $fixedHeader.hide();
                  }
              });

              var carWidth = $("#calendar_p").width();
              $("#header-fixed").css("width",carWidth);

              $(".preload").fadeOut(0, function() {

              });

              
              if (getUrlParameter('swap') === '1') {
                $("#swap").attr('checked', true);

                setInterval(function(){
                  if (getUrlParameter('service_schedule') === '1') {
                    $(window).attr("location", "/calendar/index?service_schedule=0&swap=1");
                  } else {
                    $(window).attr("location", "/calendar/index?service_schedule=1&swap=1");
                  }
                }, 300000);
              }
            
              $("#swap").change(function() {
                if ($("#swap").is(":checked")) {
                  setInterval(function(){
                    $(window).attr("location", "/calendar/index?service_schedule=1&swap=1");
                  }, 5000);
                }
              });

	});


<% end %>
