<!-- / header -->
<div><%= render 'header' %></div>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Admin Page</h1>
  </div><!--/.header-collapse -->
  
    <%= form_tag({:controller => 'admin', :action => 'create'}, {:class => 'navbar-form navbar-right', :role => 'search'}) do %>
    <div class="form-group">
     <%= text_field(:company, :name, :class => 'form-control', :pleaceholder => 'Search') %>
    </div>
    <%= submit_tag('Create Company', :class => "btn btn-default") %>
    <% end %>
  
  <%#*<form class="navbar-form navbar-right" role="search">%>
        <%#*<div class="form-group">%>
          <%#*<input type="text" class="form-control" placeholder="Search">%>
        <%#*</div>%>
        <%#*<button type="submit" class="btn btn-default">Submit</button>%>
      <%#*</form>%>
  <ul class="nav nav-tabs">
    <%#*<li class="active"><a href="#">Home</a></li>%>
    <%= content_tag(:li, link_to("Companies", :controller => "admin", :action => 'index'), :class => ("active" if current_page? "/admin") ) %>
    <%= content_tag(:li, link_to("Pending", :controller => "pending", :action => 'index'), :class => ("active" if current_page? "/pending") ) %>
    <%= content_tag(:li, link_to("Add Pending", :controller => "pending", :action => 'add_pending'), :class => ("active" if current_page? "/pending/add_pending") ) %>
  </ul>
  
  
  
  <table class="table table-bordered">
    <tr class="header">
      <th>Company Name</th>
      <th>Location</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @companies.each do |c| %>
    <tr>   
      <td class='normal'><%= c.name %></td>
      <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Location", {:controller => 'location', :action => 'index', :id => c.id}) %></button></td>
      <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Edit", {:action => 'edit', :id => c.id}) %></button></td>
      <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Delete", {:action => 'delete', :id => c.id}) %></button></td>
    </tr>
    <% end %>  
  </table>
  
  <div class="apple_pagination">
    <%= will_paginate @companies %>
  </div>
</div>

<!-- / footer -->
<div><%= render '/register/footer' %></div>

  

 

  

  


  
  
	