<!-- / header -->
<div><%= render 'header' %></div>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Admin Page</h1>
  </div><!--/.header-collapse -->
  
    <%= form_tag(:controller => 'admin', :action => 'create') do %>
    <label>
      <div>Add Company</div>
     <%= text_field(:company, :name) %>
    </label>
    <%= submit_tag('Create Company') %>
    <% end %>
  
  </br>
  <table class="table table-bordered">
    <tr class="header">
      <th>Company Name</th>
      <th>Location</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @companies.each do |c| %>
    <tr>   
      <td class='normal'><%= c.name %></td>
      <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Location", {:controller => 'location', :action => 'index', :id => c.id}) %></button></td>
      <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Edit", {:action => 'edit', :id => c.id}) %></button></td>
      <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Delete", {:action => 'delete', :id => c.id}) %></button></td>
    </tr>
    <% end %>  
  </table>
  
  <div class="apple_pagination">
    <%= will_paginate @companies %>
  </div>
</div>

<!-- / footer -->
<div><%= render '/register/footer' %></div>

  

 

  

  


  
  
	