<style>
   .btn.btn-primary {
    background-color: #33AAFF;
    width: 75px;
  }
  .btn.btn-primary a {
    color: white;
    text-align: center;
  }
  tbody td {
    font-size: 10pt;
    text-align: center;
  }
  tr {
    color: black;
  }
  .header {
    background-color: #BBBBBB;
  }
  .btn.btn-default{
    background-color: #33AAFF;
    color: white;
  }
</style>
<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <%= form_tag({:controller => 'admin', :action => 'create'}, {:class => 'navbar-form navbar-right', :role => 'search'}) do %>
    <div class="form-group">
     <%= text_field(:company, :name, :class => 'form-control', :pleaceholder => 'Search') %>
    </div>
    <%= submit_tag('CREATE COMPANY', :class => "btn btn-default") %>
  <% end %>
  <ul class="nav nav-tabs">
    <%= content_tag(:li, link_to("COMPANIES", :controller => "admin", :action => 'index'), :class => ("active" if current_page? "/admin") ) %>
    <%#= content_tag(:li, link_to("PENDING", :controller => "pending", :action => 'index'), :class => ("active" if current_page? "/pending") ) %>
    <%= content_tag(:li, link_to("USERS", :controller => "admin", :action => 'users'), :class => ("active" if current_page? "/admin/users") ) %>
    <%= content_tag(:li, link_to("HOLIDAYS", :controller => "holidays", :action => 'index'), :class => ("active" if current_page? "/holiday") ) %>

  </ul>
  <table class="table table-bordered">
    <tr class="header">
      <th>COMPANY NAME</th>
      <th>LOCATION</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
    <% @companies.each do |c| %>
    <tr>
      <td class='normal'><%= c.name %></td>
      <td class='short'><button type="button" class="btn btn-primary"><%= link_to("ADD", {:controller => 'location', :action => 'index', :id => c.id}) %></button></td>
      <td class='short'><button type="button" class="btn btn-primary"><%= link_to("EDIT", {:action => 'edit', :id => c.id}) %></button></td>
      <td class='short'><button type="button" class="btn btn-primary"><%= link_to("DELETE", {:action => 'delete', :id => c.id}) %></button></td>
    </tr>
    <% end %>
  </table>
  <div class="apple_pagination">
    <%= will_paginate @companies %>
  </div>
</div>
