<h1>Add Companies</h1>


<%#= stylesheet_link_tag "jquery.datetimepicker", "select2" %>
<%#= javascript_include_tag "jquery.datetimepicker", "select2" %>

<ul class="nav nav-pills">
  <li class="active"><%= link_to "Add Companies", :action => 'add' %></li>
  
</ul>

<p>Please fill up your schedule information here</p>



<%= form_tag(:action => 'create') do %>

  <label>
    <div>Add Company</div>
    <%= text_field(:company, :name, :class => "Company Name") %>
  </label>

   <%= submit_tag('Create Company') %>
<% end %>   


  
  <table class="list"  summary="Schedule list">
  <tr class="header">
    
    <th>Company Name</th>
    <th>Location</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @companies.each do |c| %>
  <tr>   
    <td class='normal'><%= c.name %></td>
    <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Location", {:controller => 'location', :action => 'index', :id => c.id}) %></button></td>
    <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Edit", {:action => 'edit', :id => c.id}) %></button></td>
    <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Delete", {:action => 'delete', :id => c.id}) %></button></td>
  </tr>
  <% end %>  
  </table>

  
  <div class="error"><%= @error %></div>
  

 

  

  


  
  
	