<style>
  h3 {
    text-align: center;
    margin-top: 0px;
  }
  
  .form-signin {
       max-width: 300px;
       padding: 19px 29px 29px;
       margin: 0 auto 20px;
       background-color: #fff;
       border: 1px solid #e5e5e5;
       -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
               border-radius: 5px;
       -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
               box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
    color: #3f3f3f;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    width: 250px;
  }

  .notice {
    color: red;
    text-align: center;
  }
  .navbar.navbar-inverse {
    margin-bottom: 0px;
  }
  .jumbotron > h1, .jumbotron {
    text-align: center;
    font-size: 24px;
    background-color: #CCCCCC;
  }
  .checkbox {color: black}
  .btn.btn-large.btn-primary {
     background-color: #33AAFF;
     margin-bottom: 10px;
     width: 75px;
     font-size: 10pt;
     margin-left: 10px;
     text-align: center;
     color: white;
   }
  
</style>

<style>
  .cmxform.schedule {
       max-width: 450px;
       padding: 19px 29px 9px;
       margin: 0 auto 20px;
       background-color: #e5e5e5;
       border: 1px solid #e5e5e5;
       -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
               border-radius: 5px;
       -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
               box-shadow: 0 1px 2px rgba(0,0,0,.05);
       margin-bottom: 0px;
  }
  
  .cmxform.schedule label,
  .cmxform.schedule .checkbox-inline b {
      color: #303030;
      font-family: modern;
   }
   
   .checkbox-inline .field {
     color: #3f3f3f;
   }
   
   .btn.btn-large.btn-primary {
     background-color: #33AAFF;
     margin-bottom: 10px;
     width: 140px;
     font-size: 10pt;
     padding-left: 5px;
     margin-left: 10px;
     text-align: center;
     color: white;
   }
   
   .instruction {
     text-align: center;
     margin: 0px;
   }
    
   .project-des {font-size: 12pt;}
   
   #newcom .newcom-title {
     color: red;
     font-size: 12pt;
     font-weight:bold;
     font-family: modern;
   }
  
</style>

<div class="container">
  <h3>RESET PASSWORD</h3>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
 
 
  <!-- Main component for a primary marketing message or call to action -->
  <div id="schedule-form">
   
  <%= form_tag({:action => 'update_password', :id => @user.id}, {:class => "cmxform schedule"}) do %>
    <fieldset>
      <div> <%= @user.email %></div>
    <label>
      <div>NEW PASSWORD</div>
      <%= text_field(:user, :password, :class => 'project-des') %>
    </label>
    <label>
      <div>PASSWORD CONFIRMATION</div>
      <%= text_field(:user, :password_confirmation, :class => 'project-des') %>
    </label>
    <%= submit_tag('RESET', class: "btn btn-large btn-primary") %> 
   <% end %>
    </fieldset>
  </div>

</div>



