<!-- / header -->
<div><%= render 'header' %></div>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Admin Page</h1>
  </div><!--/.header-collapse -->
  
  <ul class="nav nav-tabs navbar-right">
    <%= content_tag(:li, link_to("Add Users", :controller => "signup", :action => 'index'), :class => ("active" if current_page? "/signup") ) %>
  </ul>
 
  <ul class="nav nav-tabs">
    <%#*<li class="active"><a href="#">Home</a></li>%>
    <%= content_tag(:li, link_to("Companies", :controller => "admin", :action => 'index'), :class => ("active" if current_page? "/admin") ) %>
    <%= content_tag(:li, link_to("Pending", :controller => "pending", :action => 'index'), :class => ("active" if current_page? "/pending") ) %>
    <%= content_tag(:li, link_to("Users", :controller => "users", :action => 'index'), :class => ("active" if current_page? "/users") ) %>
  </ul>
  
  
  
  <table class="table table-bordered">
    <tr class="header">
      <th>Email</th>
      <th>Sales Name</th>
      <th>Role</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @users.each do |u| %>
    <tr>   
      <td class='normal'><%= u.email %></td>
      <td class='normal'><%= u.sale.name unless u.sale_id.nil? %></td>
      <td class='normal'><%= u.role.name unless u.role_id.nil? %></td>
      <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Edit", {:action => 'edit', :id => u.id}) %></button></td>
      <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Delete", {:action => 'delete', :id => u.id}) %></button></td>
    </tr>
    <% end %>  
  </table>
  
  <%#*<div class="apple_pagination">%>
    <%#= will_paginate @users %>
  <%#*</div>%>
</div>

<!-- / footer -->
<div><%= render '/register/footer' %></div>

  

 

  

  


  
  
	