<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
 
  <!--/ flash massages -->
  <div class="notice"><%= flash[:notice] %></div> 
  <ul class="nav nav-tabs navbar-right">
    <%= content_tag(:li, link_to("Add Pending", :controller => "pending", :action => 'add_pending'), :class => ("active" if current_page? "/pending/add_pending") ) %>
  </ul>
  <ul class="nav nav-tabs">
    <%= content_tag(:li, link_to("COMPANIES", :controller => "admin", :action => 'index'), :class => ("active" if current_page? "/admin") ) %>
    <%= content_tag(:li, link_to("PENDING", :controller => "pending", :action => 'index'), :class => ("active" if current_page? "/pending") ) %>
    <%= content_tag(:li, link_to("USERS", :controller => "admin", :action => 'users'), :class => ("active" if current_page? "/admin/users") ) %>
  </ul>
  
  <!--/ table content -->
  <table class="table table-bordered" >
  <tr class="header">   
    <th>Date & Time</th>
    <th>Companies</th>
    <th>Project Description</th>
    <th>Sales</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Download</th>
  </tr>
  <% @pendings.each do |p| %>
  <tr>   
    <td class='normal'><%= p.date %></td>
    <td class='normal'><%= p.company.name unless p.company.nil? %></td>
    <td class='long'><%= p.project %></td>
    <td class='normal'><%= p.sale.name unless p.sale.nil? %></td>
    <td class='normal'><%= p.status.name unless p.status.nil? %></td>
    <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Edit", {:action => 'edit_pending', :id => p.id}) %></button></td>
    <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Delete", {:action => 'delete_pending', :id => p.id}) %></button></td>
    <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Download", {:action => 'download', :id => p.id}, :target => "_blank") %></button></td>
  </tr>
  <% end %>  
</table>
  
</div> <!-- /container -->
