<tr>
  <table border=0 cellpadding=0 cellspacing=0 style='border-collapse:
   collapse;table-layout:fixed;color:red;margin:0;border-top:1px solid #FF0000;' class="table table-bordered weekend">
   <col width=74 style='mso-width-source:userset;mso-width-alt:3157;width:74pt'>
   <col width=65 span=8 style='width:65pt'>
   <tr  style='mso-height-source:userset;'>
    <td rowspan=2 height=60 class=xl68 width=74 style='
    height:60.0pt;width:74pt;'>Weekend</td>
    <td colspan=2 class=xl65 width=130 style='width:130pt'>Travel Out</td>
    <td colspan=2 class=xl65 width=130 style='border-left:none;width:130pt'>Week</td>
    <td colspan=2 class=xl65 width=130 style='border-left:none;width:130pt'>Week</td>
    <td colspan=2 class=xl65 width=130 style='border-left:none;width:130pt'>Travel Back</td>
   </tr>
   <tr height=30 style='mso-height-source:userset;height:30.0pt;border-bottom:1px solid #FF0000;'>
    <td height=30 class=xl67 width=65 style='height:30.0pt;border-top:none;
    width:65pt'>Normal Hours</td>
    <td class=xl67 width=65 style='border-top:none;border-left:none;width:65pt'>Overtime</td>
    <td class=xl67 width=65 style='border-top:none;border-left:none;width:65pt'>Normal
    Hours</td>
    <td class=xl67 width=65 style='border-top:none;border-left:none;width:65pt'>Overtime</td>
    <td class=xl67 width=65 style='border-top:none;border-left:none;width:65pt'>Normal
    Hours</td>
    <td class=xl67 width=65 style='border-top:none;border-left:none;width:65pt'>Overtime</td>
    <td class=xl67 width=65 style='border-top:none;border-left:none;width:65pt'>Normal
    Hours</td>
    <td class=xl67 width=65 style='border-top:none;border-left:none;width:65pt'>Overtime</td>
   </tr>
   <tr height=30 style='mso-height-source:userset;height:30.0pt;border-top:1px solid #FF0000;border-bottom:1px solid #FF0000;'>
    <td height=30 class=xl70 style='height:30.0pt;border-top:none;border-right:1px solid red'>Monday</td>
    <td class=xl65 style='border-top:none'>
      <div class="input-group" style="">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["mondayOutN"] %>">
      </div>
    </td>
    <td class=xl65 style='border:1px solid #FF0000'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["mondayOutO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["mondayWeekN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["mondayWeekO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["mondayWeek2N"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["mondayWeek2O"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["mondayBackN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["mondayBackO"] %>">
      </div>
    </td>
   </tr>

   <tr height=30 style='mso-height-source:userset;height:30.0pt;border-bottom:1px solid red'>
    <td height=30 class=xl70 style='height:30.0pt;border-top:none;border-right:1px solid red'>Tuesday</td>
    <td class=xl65 style='border-top:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["tuesdayOutN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["tuesdayOutO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["tuesdayWeekN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["tuesdayWeekO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["tuesdayWeek2N"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["tuesdayWeek2O"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["tuesdayBackN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["tuesdayBackO"] %>">
      </div>
    </td>
   </tr>
   <tr height=30 style='mso-height-source:userset;height:30.0pt;border-bottom:1px solid #FF0000;'>
    <td height=30 class=xl66 style='height:30.0pt;border-top:none'>Wednesday</td>
    <td class=xl65 style='border-top:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["wednesdayOutN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["wednesdayOutO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["wednesdayWeekN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["wednesdayWeekO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["wednesdayWeek2N"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["wednesdayWeek2O"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["wednesdayBackN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["wednesdayBackO"] %>">
      </div>
    </td>
   </tr>
   <tr height=30 style='mso-height-source:userset;height:30.0pt'>
    <td height=30 class=xl70 style='height:30.0pt;border-top:none'>Thursday</td>
    <td class=xl65 style='border-top:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["thursdayOutN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["thursdayOutO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["thursdayWeekN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["thursdayWeekO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["thursdayWeek2N"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["thursdayWeek2O"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["thursdayBackN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["thursdayBackO"] %>">
      </div>
    </td>
   </tr>
   <tr height=30 style='mso-height-source:userset;height:30.0pt;border-bottom:1px solid #FF0000;'>
    <td height=30 class=xl70 style='height:30.0pt;border-top:none'>Friday</td>
    <td class=xl65 style='border-top:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["fridayOutN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["fridayOutO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["fridayWeekN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["fridayWeekO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["fridayWeek2N"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["fridayWeek2O"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["fridayBackN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["fridayBackO"] %>">
      </div>
    </td>
   </tr>
   <tr height=30 style='mso-height-source:userset;height:30.0pt'>
    <td height=30 class=xl70 style='height:30.0pt;border-top:none'>Saturday</td>
    <td class=xl65 style='border-top:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["saturdayOutN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["saturdayOutO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["saturdayWeekN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["saturdayWeekO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["saturdayWeek2N"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["saturdayWeek2O"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["saturdayBackN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["saturdayBackO"] %>">
      </div>
    </td>
   </tr>
   <tr height=30 style='mso-height-source:userset;height:30.0pt'>
    <td height=30 class=xl70 style='height:30.0pt;border-top:none'>Sunday</td>
    <td class=xl65 style='border-top:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["sundayOutN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["sundayOutO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["sundayWeekN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["sundayWeekO"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["sundayWeek2N"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["sundayWeek2O"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["sundayBackN"] %>">
      </div>
    </td>
    <td class=xl65 style='border-top:none;border-left:none'>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["sundayBackO"] %>">
      </div>
    </td>
   </tr>
  </table>
</tr>
