<!DOCTYPE html>
<html lang="en" ng-app="Timesheet">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <style>

    .container {
      min-width:992px;
      width: auto !important;
      width:992px;
    }

      h1 {
        text-align: right;
      }

      .table td{
        border:1px solid #FF0000;
        border-color: red;
        padding: none;
      }

      .table tr td {
        margin:0;
        padding:0;
      }

      .weekend tr td {
        margin:0;
        padding:0;
      }

      .table.monday tr td {
        font-size:small;
        width: 190pt;
      }

      .input-group-addon {
        color: red;
        background-color: white;
        border-color: white;
        font-size: 9;
      }

      .table-bordered td, .table-bordered th{
          border-color: red;
          padding: none;
      }

      .form-group {
        border: 1px solid #FF0000;
        color: red;
        margin: 0;
      }

      .input-group {
        width:100%;
      }

      .loader {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid red;
        width: 5px;
        height: 5px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }

      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <!-- Signature -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/south-street/jquery-ui.css" rel="stylesheet">
    <!-- <%= stylesheet_link_tag "jquery.signature" %> -->
    <style>
    .kbw-signature { width: 400px; height: 200px; }
    </style>
    <!--[if IE]>
    <script src="excanvas.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
    <!-- <%= javascript_include_tag "jquery.signature" %> -->
    <%= javascript_include_tag "signature_pad" %>

  </head>
  <body ng-controller="TimesheetCtrl">
    <div class="container">
      <div style="color:red">
        <%= link_to image_tag("favicon.ico"), {action: 'index', controller: 'register'},
         style: "display:inline-block;float:left",
         height:"90%"%>
        <div style="display:inline-block;float:left">
          <br>
          <b >nilpeter asia pacific</b>
          <br>
        <p >499/37 Moo 13, Rachathewa
          <br>
          Bangplee, Samutprakarn
          <br>
          10540 Thailand
        </p></div>
        <h1 style="display:inline-block;float:right;">TIME SHEET</h1>
      </div>
      <span ng-show="loading">
        <div class="loader" style="display: inline-block;"></div>
        <div style="display: inline-block;">Loading timesheet ...</div>
      </span>
      <form ng-submit="updateTimeSheet()" id="sign-up-form" class="form-signin" name="signup">
        <table class="table table-bordered" style="margin:0">
          <tbody>
              <%= render 'order_date_partial' %>
              <%= render 'customer_partial' %>
              <%= render 'engineer_machine_partial' %>
              <%= render 'departure_partial' %>
              <%= render 'arrival_partial' %>
              <%= render 'kilometers_partial' %>
              <%= render 'weekday_partial' %>
              <%= render 'sundries_partial' %>
              <%= render 'customer_comment_partial' %>
              <%= render 'nilpeter_comment_partial' %>
              <%= render 'edit_signature_partial' %>

          </tbody>
      </table>

      <button class="btn btn-primary" type="submit" ng-disabled="signupForm.loading">
        <span ng-show="!signupForm.loading">Edit Timesheet</span>
        <span class="overlord-loading-spinner fa fa-spinner fa-spin" ng-show="signupForm.loading" ></span>
        <span ng-show="signupForm.loading">Updating timesheet...</span>
      </button>
    </form>
      <!-- <button ng-click="deselect()">test</button> -->
    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script>
        // console.log('<%=(raw @timesheet_nil_sig)%>');
        var a = (JSON.parse(<%=raw @timesheet_data.to_json %>));
        console.log(<%= @timesheet_id %>);

        'use strict';

        var wrapper = document.getElementById("signature-pad"),
            canvas = wrapper.querySelector("canvas"),
            signaturePad;

        var wrapper2 = document.getElementById("signature-pad2"),
            canvas2 = wrapper2.querySelector("canvas"),
            signaturePad2;

        // Adjust canvas coordinate space taking into account pixel ratio,
        // to make it look crisp on mobile devices.
        // This also causes canvas to be cleared.
        function resizeCanvas() {
            // When zoomed out to less than 100%, for some very strange reason,
            // some browsers report devicePixelRatio as less than 1
            // and only part of the canvas is cleared then.
            var ratio =  Math.max(window.devicePixelRatio || 1, 1);
            canvas.width = canvas.offsetWidth * ratio;
            canvas.height = canvas.offsetHeight * ratio;
            canvas.getContext("2d").scale(ratio, ratio);

            canvas2.width = canvas.offsetWidth * ratio;
            canvas2.height = canvas.offsetHeight * ratio;
            canvas2.getContext("2d").scale(ratio, ratio);
        }

        // window.onresize = resizeCanvas;
        resizeCanvas();

        signaturePad = new SignaturePad(canvas);
        signaturePad2 = new SignaturePad(canvas2);

        signaturePad.fromDataURL('<%= @timesheet.nil_sig %>');
        signaturePad2.fromDataURL('<%= @timesheet.cus_sig %>');

        $("#clearNil").click(function() {
          signaturePad.clear();
        });

        $("#clearCus").click(function() {
          signaturePad2.clear();
        });

        var app = angular.module('Timesheet', [])
        app.controller('TimesheetCtrl', ['$scope', '$http', function($scope, $http) {
          var timesheet = JSON.parse(<%=raw @timesheet_data.to_json %>);

          $scope.signupForm = {
            loading: false
          };

          $scope.loading = false;

          $scope.timeSheet = {};
          $scope.timeSheet.jobNo = timesheet.jobNo;
          $scope.timeSheet.date = timesheet.date;
          $scope.timeSheet.customer = timesheet.customer;
          $scope.timeSheet.country = timesheet.country;
          $scope.timeSheet.engineer = timesheet.engineer;
          $scope.timeSheet.machineType = timesheet.machineType;
          $scope.timeSheet.machineNo = timesheet.machineNo;
          $scope.timeSheet.departure = timesheet.departure;
          $scope.timeSheet.departureFrom = timesheet.departureFrom;
          $scope.timeSheet.from = timesheet.from;
          $scope.timeSheet.fromAt = timesheet.fromAt;
          $scope.timeSheet.arrival = timesheet.arrival;
          $scope.timeSheet.arrivalIn = timesheet.arrivalIn;
          $scope.timeSheet.in = timesheet.in;
          $scope.timeSheet.inAt = timesheet.inAt;
          $scope.timeSheet.kilometers = timesheet.kilometers;
          $scope.timeSheet.car = timesheet.car;
          $scope.timeSheet.ownCar = timesheet.ownCar;

          $scope.timeSheet.mondayOutN = timesheet.mondayOutN;
          $scope.timeSheet.mondayOutO = timesheet.mondayOutO;
          $scope.timeSheet.mondayWeekN = timesheet.mondayWeekN;
          $scope.timeSheet.mondayWeekO = timesheet.mondayWeekO;
          $scope.timeSheet.mondayWeek2N = timesheet.mondayWeek2N;
          $scope.timeSheet.mondayWeek2O = timesheet.mondayWeek2O;
          $scope.timeSheet.mondayBackN = timesheet.mondayBackN;
          $scope.timeSheet.mondayBackO = timesheet.mondayBackO;

          $scope.timeSheet.tuesdayOutN = timesheet.tuesdayOutN;
          $scope.timeSheet.tuesdayOutO = timesheet.tuesdayOutO;
          $scope.timeSheet.tuesdayWeekN = timesheet.tuesdayWeekN;
          $scope.timeSheet.tuesdayWeekO = timesheet.tuesdayWeekO;
          $scope.timeSheet.tuesdayWeek2N = timesheet.tuesdayWeek2N;
          $scope.timeSheet.tuesdayWeek2O = timesheet.tuesdayWeek2O;
          $scope.timeSheet.tuesdayBackN = timesheet.tuesdayBackN;
          $scope.timeSheet.tuesdayBackO = timesheet.tuesdayBackO;

          $scope.timeSheet.wednesdayOutN = timesheet.wednesdayOutN;
          $scope.timeSheet.wednesdayOutO = timesheet.wednesdayOutO;
          $scope.timeSheet.wednesdayWeekN = timesheet.wednesdayWeekN;
          $scope.timeSheet.wednesdayWeekO = timesheet.wednesdayWeekO;
          $scope.timeSheet.wednesdayWeek2N = timesheet.wednesdayWeek2N;
          $scope.timeSheet.wednesdayWeek2O = timesheet.wednesdayWeek2O;
          $scope.timeSheet.wednesdayBackN = timesheet.wednesdayBackN;
          $scope.timeSheet.wednesdayBackO = timesheet.wednesdayBackO;

          $scope.timeSheet.thursdayOutN = timesheet.thursdayOutN;
          $scope.timeSheet.thursdayOutO = timesheet.thursdayOutO;
          $scope.timeSheet.thursdayWeekN = timesheet.thursdayWeekN;
          $scope.timeSheet.thursdayWeekO = timesheet.thursdayWeekO;
          $scope.timeSheet.thursdayWeek2N = timesheet.thursdayWeek2N;
          $scope.timeSheet.thursdayWeek2O = timesheet.thursdayWeek2O;
          $scope.timeSheet.thursdayBackN = timesheet.thursdayBackN;
          $scope.timeSheet.thursdayBackO = timesheet.thursdayBackO;

          $scope.timeSheet.fridayOutN = timesheet.fridayOutN;
          $scope.timeSheet.fridayOutO = timesheet.fridayOutO;
          $scope.timeSheet.fridayWeekN = timesheet.fridayWeekN;
          $scope.timeSheet.fridayWeekO = timesheet.fridayWeekO;
          $scope.timeSheet.fridayWeek2N = timesheet.fridayWeek2N;
          $scope.timeSheet.fridayWeek2O = timesheet.fridayWeek2O;
          $scope.timeSheet.fridayBackN = timesheet.fridayBackN;
          $scope.timeSheet.fridayBackO = timesheet.fridayBackO;

          $scope.timeSheet.saturdayOutN = timesheet.saturdayOutN;
          $scope.timeSheet.saturdayOutO = timesheet.saturdayOutO;
          $scope.timeSheet.saturdayWeekN = timesheet.saturdayWeekN;
          $scope.timeSheet.saturdayWeekO = timesheet.saturdayWeekO;
          $scope.timeSheet.saturdayWeek2N = timesheet.saturdayWeek2N;
          $scope.timeSheet.saturdayWeek2O = timesheet.saturdayWeek2O;
          $scope.timeSheet.saturdayBackN = timesheet.saturdayBackN;
          $scope.timeSheet.saturdayBackO = timesheet.saturdayBackO;

          $scope.timeSheet.sundayOutN = timesheet.sundayOutN;
          $scope.timeSheet.sundayOutO = timesheet.sundayOutO;
          $scope.timeSheet.sundayWeekN = timesheet.sundayWeekN;
          $scope.timeSheet.sundayWeekO = timesheet.sundayWeekO;
          $scope.timeSheet.sundayWeek2N = timesheet.sundayWeek2N;
          $scope.timeSheet.sundayWeek2O = timesheet.sundayWeek2O;
          $scope.timeSheet.sundayBackN = timesheet.sundayBackN;
          $scope.timeSheet.sundayBackO = timesheet.sundayBackO;

          $scope.timeSheet.jobFinishedYes = timesheet.jobFinishedYes;
          $scope.timeSheet.jobFinishedNo = timesheet.jobFinishedNo;
          $scope.timeSheet.sparePartYes = timesheet.sparePartYes;
          $scope.timeSheet.sparePartNo = timesheet.sparePartNo;
          $scope.timeSheet.partYes = timesheet.partYes;
          $scope.timeSheet.partNo = timesheet.partNo;
          $scope.timeSheet.mechanicalYes = timesheet.mechanicalYes;
          $scope.timeSheet.mechanicalNo = timesheet.mechanicalNo;
          $scope.timeSheet.electricalYes = timesheet.electricalYes;
          $scope.timeSheet.electricalNo = timesheet.electricalNo;
          $scope.timeSheet.serviceYes = timesheet.serviceYes;
          $scope.timeSheet.serviceNo = timesheet.serviceNo;
          $scope.timeSheet.graphicYes = timesheet.graphicYes;
          $scope.timeSheet.graphicNo = timesheet.graphicNo;
          $scope.timeSheet.concerningYes = timesheet.concerningYes;
          $scope.timeSheet.concerningNo = timesheet.concerningNo;
          $scope.timeSheet.customerComment = timesheet.customerComment;
          $scope.timeSheet.nilpeterComment = timesheet.nilpeterComment;
          $scope.timeSheet.nilpeterDate = timesheet.nilpeterDate;
          $scope.timeSheet.customerDate = timesheet.customerDate;

          $scope.updateTimeSheet = function() {
            console.log("updateing timesheet");

            $scope.signupForm.loading = true;

            var timeSheet = {
              jobNo: $scope.timeSheet.jobNo,
              date: $scope.timeSheet.date,
              customer: $scope.timeSheet.customer,
              country: $scope.timeSheet.country,
              engineer: $scope.timeSheet.engineer,
              machineType: $scope.timeSheet.machineType,
              machineNo: $scope.timeSheet.machineNo,
              departure: $scope.timeSheet.departure,
              departureFrom: $scope.timeSheet.departureFrom,
              from: $scope.timeSheet.from,
              fromAt: $scope.timeSheet.fromAt,
              arrival: $scope.timeSheet.arrival,
              arrivalIn: $scope.timeSheet.arrivalIn,
              in: $scope.timeSheet.in,
              inAt: $scope.timeSheet.inAt,
              kilometers: $scope.timeSheet.kilometers,
              car: $scope.timeSheet.car,
              ownCar: $scope.timeSheet.ownCar,

              mondayOutN: $scope.timeSheet.mondayOutN,
              mondayOutO: $scope.timeSheet.mondayOutO,
              mondayWeekN: $scope.timeSheet.mondayWeekN,
              mondayWeekO: $scope.timeSheet.mondayWeekO,
              mondayWeek2N: $scope.timeSheet.mondayWeek2N,
              mondayWeek2O: $scope.timeSheet.mondayWeek2O,
              mondayBackN: $scope.timeSheet.mondayBackN,
              mondayBackO: $scope.timeSheet.mondayBackO,

              tuesdayOutN: $scope.timeSheet.tuesdayOutN,
              tuesdayOutO: $scope.timeSheet.tuesdayOutO,
              tuesdayWeekN: $scope.timeSheet.tuesdayWeekN,
              tuesdayWeekO: $scope.timeSheet.tuesdayWeekO,
              tuesdayWeek2N: $scope.timeSheet.tuesdayWeek2N,
              tuesdayWeek2O: $scope.timeSheet.tuesdayWeek2O,
              tuesdayBackN: $scope.timeSheet.tuesdayBackN,
              tuesdayBackO: $scope.timeSheet.tuesdayBackO,

              wednesdayOutN: $scope.timeSheet.wednesdayOutN,
              wednesdayOutO: $scope.timeSheet.wednesdayOutO,
              wednesdayWeekN: $scope.timeSheet.wednesdayWeekN,
              wednesdayWeekO: $scope.timeSheet.wednesdayWeekO,
              wednesdayWeek2N: $scope.timeSheet.wednesdayWeek2N,
              wednesdayWeek2O: $scope.timeSheet.wednesdayWeek2O,
              wednesdayBackN: $scope.timeSheet.wednesdayBackN,
              wednesdayBackO: $scope.timeSheet.wednesdayBackO,

              thursdayOutN: $scope.timeSheet.thursdayOutN,
              thursdayOutO: $scope.timeSheet.thursdayOutO,
              thursdayWeekN: $scope.timeSheet.thursdayWeekN,
              thursdayWeekO: $scope.timeSheet.thursdayWeekO,
              thursdayWeek2N: $scope.timeSheet.thursdayWeek2N,
              thursdayWeek2O: $scope.timeSheet.thursdayWeek2O,
              thursdayBackN: $scope.timeSheet.thursdayBackN,
              thursdayBackO: $scope.timeSheet.thursdayBackO,

              fridayOutN: $scope.timeSheet.fridayOutN,
              fridayOutO: $scope.timeSheet.fridayOutO,
              fridayWeekN: $scope.timeSheet.fridayWeekN,
              fridayWeekO: $scope.timeSheet.fridayWeekO,
              fridayWeek2N: $scope.timeSheet.fridayWeek2N,
              fridayWeek2O: $scope.timeSheet.fridayWeek2O,
              fridayBackN: $scope.timeSheet.fridayBackN,
              fridayBackO: $scope.timeSheet.fridayBackO,

              saturdayOutN: $scope.timeSheet.saturdayOutN,
              saturdayOutO: $scope.timeSheet.saturdayOutO,
              saturdayWeekN: $scope.timeSheet.saturdayWeekN,
              saturdayWeekO: $scope.timeSheet.saturdayWeekO,
              saturdayOutO: $scope.timeSheet.saturdayOutO,
              saturdayWeek2N: $scope.timeSheet.saturdayWeek2N,
              saturdayWeek2O: $scope.timeSheet.saturdayWeek2O,
              saturdayBackN: $scope.timeSheet.saturdayBackN,
              saturdayBackO: $scope.timeSheet.saturdayBackO,

              sundayOutN: $scope.timeSheet.sundayOutN,
              sundayOutO: $scope.timeSheet.sundayOutO,
              sundayWeekN: $scope.timeSheet.sundayWeekN,
              sundayWeekO: $scope.timeSheet.sundayWeekO,
              sundayWeek2N: $scope.timeSheet.sundayWeek2N,
              sundayWeek2O: $scope.timeSheet.sundayWeek2O,
              sundayBackN: $scope.timeSheet.sundayBackN,
              sundayBackO: $scope.timeSheet.sundayBackO,

              jobFinishedYes: $scope.timeSheet.jobFinishedYes,
              jobFinishedNo: $scope.timeSheet.jobFinishedNo,
              sparePartYes: $scope.timeSheet.sparePartYes,
              sparePartNo: $scope.timeSheet.sparePartNo,
              partYes: $scope.timeSheet.partYes,
              partNo: $scope.timeSheet.partNo,
              mechanicalYes: $scope.timeSheet.mechanicalYes,
              mechanicalNo: $scope.timeSheet.mechanicalNo,
              electricalYes: $scope.timeSheet.electricalYes,
              electricalNo: $scope.timeSheet.electricalNo,
              serviceYes: $scope.timeSheet.serviceYes,
              serviceNo: $scope.timeSheet.serviceNo,
              graphicYes: $scope.timeSheet.graphicYes,
              graphicNo: $scope.timeSheet.graphicNo,
              concerningYes: $scope.timeSheet.concerningYes,
              concerningNo: $scope.timeSheet.concerningNo,
              customerComment: $scope.timeSheet.customerComment,
              nilpeterComment: $scope.timeSheet.nilpeterComment,
              nilpeterDate: $scope.timeSheet.nilpeterDate,
              customerDate: $scope.timeSheet.customerDate
            }

            var timeSheetData = JSON.stringify(timeSheet);
            var nilSig = signaturePad.toDataURL();
            var cusSig = signaturePad2.toDataURL();

            console.log(timeSheet);
            console.log(timeSheetData);
            // console.log($scope.timeSheet);
            $http.post('/ioscalendar/update_timesheet/', {
              id : '<%= @timesheet_id %>',
              data : timeSheetData,
              nil_sig : nilSig,
              cus_sig : cusSig
            })
            .then(function onSuccess (){
              // Refresh the page now that we've been logged in.
              window.location = '/register';
            })
            .catch(function onError(sailsResponse) {
              console.log(sailsResponse);
            })
            .finally(function eitherWay() {
              console.log("successfully");
              $scope.signupForm.loading = false;
            });
          };

          $scope.deselect = function() {
            var nilSig = $('#nilpeterSignature').signature('toJSON');
            console.log(nilSig);
            console.log(nilSig.lines);
          }
        }]);
    </script>

    <!-- Auto resize textarea -->
    <!-- Signature -->
    <script>

    function autoSize(ele) {
       ele.style.height = 'auto';
       var newHeight = (ele.scrollHeight > 32 ? ele.scrollHeight : 32);
       ele.style.height = newHeight.toString() + 'px';
    }

    function setSize(ele) {
       ele.style.height = 'auto';
       var newHeight = (ele.scrollHeight > 32 ? ele.scrollHeight : 32);
       ele.style.height = newHeight.toString() + 'px';
    }

    $( document ).ready(function() {
      setSize($('textarea')[0]);
      setSize($('textarea')[1]);
    });
    </script>


  </body>
</html>
