<!DOCTYPE html>
<html lang="en" ng-app="Timesheet">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <style>

    .container {
      min-width:992px;
      width: auto !important;
      width:992px;
    }

      h1 {
        text-align: right;
      }

      .table td{
        border:1px solid #FF0000;
        border-color: red;
        padding: none;
      }

      .table tr td {
        margin:0;
        padding:0;
      }

      .weekend tr td {
        margin:0;
        padding:0;
      }

      .table.monday tr td {
        font-size:small;
        width: 190pt;
      }

      .input-group-addon {
        color: red;
        background-color: white;
        border-color: white;
        font-size: 9;
      }

      .table-bordered td, .table-bordered th{
          border-color: red;
          padding: none;
      }

      .form-group {
        border: 1px solid #FF0000;
        color: red;
        margin: 0;
      }

      .input-group {
        width:100%;
      }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <!-- Signature -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/south-street/jquery-ui.css" rel="stylesheet">
    <%= stylesheet_link_tag "jquery.signature" %>
    <style>
    .kbw-signature { width: 400px; height: 200px; }
    </style>
    <!--[if IE]>
    <script src="excanvas.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
    <%= javascript_include_tag "jquery.signature" %>

  </head>
  <body ng-controller="TimesheetCtrl">
    <div class="container">
      <form ng-submit="submitTimeSheet()" id="sign-up-form" class="form-signin" name="signup">
        <table class="table table-bordered" style="margin:0">
          <h1>TIME SHEET</h1>
          <tbody>
              <%= render 'order_date_partial' %>
              <%= render 'customer_partial' %>
              <%= render 'engineer_machine_partial' %>
              <%= render 'departure_partial' %>
              <%= render 'arrival_partial' %>
              <%= render 'kilometers_partial' %>
              <%= render 'weekday_partial' %>
              <%= render 'sundries_partial' %>
              <%= render 'customer_comment_partial' %>
              <%= render 'nilpeter_comment_partial' %>
              <%= render 'edit_signature_partial' %>

          </tbody>
      </table>

      <button class="btn btn-primary" type="submit" ng-disabled="signup.$invalid">
        <span ng-show="!signupForm.loading">Edit Timesheet</span>
        <span class="overlord-loading-spinner fa fa-spinner fa-spin" ng-show="signupForm.loading" ></span>
        <span ng-show="signupForm.loading">Preparing your new account...</span>
      </button>
    </form>
      <!-- <button ng-click="deselect()">test</button> -->
    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script>
        console.log('<%=(raw @timesheet_nil_sig)%>');
        var a = JSON.parse('<%=raw @timesheet_data.to_json %>');
        'use strict';

        var app = angular.module('Timesheet', [])
        app.controller('TimesheetCtrl', ['$scope', '$http', function($scope, $http) {
          var timesheet = JSON.parse('<%=raw @timesheet_data.to_json %>');
          $scope.timeSheet = {};
          $scope.timeSheet.jobNo = timesheet.jobNo;
          $scope.timeSheet.date = timesheet.date;
          $scope.timeSheet.customer = timesheet.customer;
          $scope.timeSheet.country = timesheet.country;
          $scope.timeSheet.engineer = timesheet.engineer;
          $scope.timeSheet.machineType = timesheet.machineType;
          $scope.timeSheet.machineNo = timesheet.machineNo;
          $scope.timeSheet.departure = timesheet.departure;
          $scope.timeSheet.departureFrom = timesheet.departureFrom;
          $scope.timeSheet.from = timesheet.from;
          $scope.timeSheet.fromAt = timesheet.fromAt;
          $scope.timeSheet.arrival = timesheet.arrival;
          $scope.timeSheet.arrivalIn = timesheet.arrivalIn;
          $scope.timeSheet.in = timesheet.in;
          $scope.timeSheet.inAt = timesheet.inAt;
          $scope.timeSheet.kilometers = timesheet.kilometers;
          $scope.timeSheet.car = timesheet.car;
          $scope.timeSheet.ownCar = timesheet.ownCar;

          $scope.timeSheet.mondayOutN = timesheet.mondayOutN;
          $scope.timeSheet.mondayOutO = timesheet.mondayOutO;
          $scope.timeSheet.mondayWeekN = '';
          $scope.timeSheet.mondayWeekO = '';
          $scope.timeSheet.mondayWeek2N = '';
          $scope.timeSheet.mondayWeek2O = '';
          $scope.timeSheet.mondayBackN = '';
          $scope.timeSheet.mondayBackO = '';

          $scope.timeSheet.tuesdayOutN = '';
          $scope.timeSheet.tuesdayOutO = '';
          $scope.timeSheet.tuesdayWeekN = '';
          $scope.timeSheet.tuesdayWeekO = '';
          $scope.timeSheet.tuesdayWeek2N = '';
          $scope.timeSheet.tuesdayWeek2O = '';
          $scope.timeSheet.tuesdayBackN = '';
          $scope.timeSheet.tuesdayBackO = '';

          $scope.timeSheet.wednesdayOutN = '';
          $scope.timeSheet.wednesdayOutO = '';
          $scope.timeSheet.wednesdayWeekN = '';
          $scope.timeSheet.wednesdayWeekO = '';
          $scope.timeSheet.wednesdayWeek2N = '';
          $scope.timeSheet.wednesdayWeek2O = '';
          $scope.timeSheet.wednesdayBackN = '';
          $scope.timeSheet.wednesdayBackO = '';

          $scope.timeSheet.thursdayOutN = '';
          $scope.timeSheet.thursdayOutO = '';
          $scope.timeSheet.thursdayWeekN = '';
          $scope.timeSheet.thursdayWeekO = '';
          $scope.timeSheet.thursdayWeek2N = '';
          $scope.timeSheet.thursdayWeek2O = '';
          $scope.timeSheet.thursdayBackN = '';
          $scope.timeSheet.thursdayBackO = '';

          $scope.timeSheet.fridayOutN = '';
          $scope.timeSheet.fridayOutO = '';
          $scope.timeSheet.fridayWeekN = '';
          $scope.timeSheet.fridayWeekO = '';
          $scope.timeSheet.fridayWeek2N = '';
          $scope.timeSheet.fridayWeek2O = '';
          $scope.timeSheet.fridayBackN = '';
          $scope.timeSheet.fridayBackO = '';

          $scope.timeSheet.saturdayOutN = '';
          $scope.timeSheet.saturdayOutO = '';
          $scope.timeSheet.saturdayWeekN = '';
          $scope.timeSheet.saturdayWeekO = '';
          $scope.timeSheet.saturdayWeek2N = '';
          $scope.timeSheet.saturdayWeek2O = '';
          $scope.timeSheet.saturdayBackN = '';
          $scope.timeSheet.saturdayBackO = '';

          $scope.timeSheet.sundayOutN = '';
          $scope.timeSheet.sundayOutO = '';
          $scope.timeSheet.sundayWeekN = '';
          $scope.timeSheet.sundayWeekO = '';
          $scope.timeSheet.sundayWeek2N = '';
          $scope.timeSheet.sundayWeek2O = '';
          $scope.timeSheet.sundayBackN = '';
          $scope.timeSheet.sundayBackO = '';

          $scope.timeSheet.jobFinishedYes = timesheet.jobFinishedYes;
          $scope.timeSheet.jobFinishedNo = timesheet.jobFinishedNo;


          $scope.submitTimeSheet = function() {

            a = JSON.parse($('#nilpeterSignature').signature('toJSON')).lines;

            $scope.timeSheet = {
              jobNo: $scope.timeSheet.jobNo,
              date: $scope.timeSheet.date,
              customer: $scope.timeSheet.customer,
              country: $scope.timeSheet.country,
              engineer: $scope.timeSheet.engineer,
              machine_type: '<%= @product_types %>',
              machine_no: '<%= @schedule.machine_number %>',
              departure: '<%= @schedule.date.strftime("%d/%m/%Y %H:%M") %>',
              departureFrom: 'Nilpeter',
              arrivalIn: '<%= @schedule.company_name %>',

            }

            var timeSheetData = JSON.stringify($scope.timeSheet);
            var nilSig = JSON.stringify(JSON.parse($('#nilpeterSignature').signature('toJSON')));
            var cusSig = JSON.stringify(JSON.parse($('#customerSignature').signature('toJSON')));

            console.log(timeSheetData);
            $http.post('/ioscalendar/create_timesheet', {
              user_id: '<%= @current_user_id %>',
              schedule_id: '<%= @schedule_id %>',
              data : timeSheetData,
              nil_sig : nilSig,
              cus_sig : cusSig
            }).
            catch(function onError(sailsResponse) {
              console.log(sailsResponse);
            }).
            finally(function eitherWay() {
              console.log("successfully");
            });
          };

          $scope.deselect = function() {
            var nilSig = $('#nilpeterSignature').signature('toJSON');
            console.log(nilSig);
            console.log(nilSig.lines);
          }
        }]);
    </script>

    <!-- Auto resize textarea -->
    <!-- Signature -->
    <script>

    function autoSize(ele) {
       ele.style.height = 'auto';
       var newHeight = (ele.scrollHeight > 32 ? ele.scrollHeight : 32);
       ele.style.height = newHeight.toString() + 'px';
    }

    $( document ).ready(function() {


      $('#clearNil').click(function() {
        $('#redrawNilSignature').signature('clear');
      });
      $('#clearCus').click(function() {
        $('#redrawCusSignature').signature('clear');
      });



  		$('#redrawNilSignature').signature({disabled: false});
      $('#redrawNilSignature').signature('draw', '<%=(raw @timesheet_nil_sig.to_json)%>');

      $('#redrawCusSignature').signature({disabled: false});
      $('#redrawCusSignature').signature('draw', '<%=(raw @timesheet_cus_sig.to_json)%>');

    });
    </script>


  </body>
</html>
