<!DOCTYPE html>
<html lang="en" ng-app="Timesheet">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=0.25, user-scalable=yes" /> -->
    <meta name="viewport" content="initial-scale=0.75,maximum-scale=2,width=device-width,user-scalable=2">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <style>

    .container {
      min-width:992px;
      width: auto !important;
      width:992px;
    }

      h1 {
        text-align: right;
      }

      .table td{
        border:1px solid #FF0000;
        border-color: red;
        padding: none;
      }

      .table tr td {
        margin:0;
        padding:0;
      }

      .weekend tr td {
        margin:0;
        padding:0;
      }

      .table.monday tr td {
        font-size:small;
        width: 190pt;
      }

      .input-group-addon {
        color: red;
        background-color: white;
        border-color: white;
        font-size: 9;
      }

      .table-bordered td, .table-bordered th{
          border-color: red;
          padding: none;
      }

      .form-group {
        border: 1px solid #FF0000;
        color: red;
        margin: 0;
      }

      .input-group {
        width:100%;
      }

      .loader {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid red;
        width: 5px;
        height: 5px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }

      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <!-- Signature -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/south-street/jquery-ui.css" rel="stylesheet">

    <style>
    .kbw-signature { width: 400px; height: 200px; }
    </style>
    <!--[if IE]>
    <script src="excanvas.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
    <%= javascript_include_tag "signature_pad" %>

    <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
  </head>
  <body ng-controller="TimesheetCtrl">
    <div class="container">
      <div style="color:red">
        <%= link_to image_tag("nilpeter.png"), {action: 'index', controller: 'calendar'},
         style: "display:inline-block;float:left;color:red",
         height:"90%"%>
        <div style="display:inline-block;float:left">
          <br>
          <b >nilpeter asia pacific</b>
          <br>
        <p >499/37 Moo 13, Rachathewa
          <br>
          Bangplee, Samutprakarn
          <br>
          10540 Thailand
        </p></div>
        <h1 style="display:inline-block;float:right;">TIME SHEET</h1>
      </div>
      <span ng-show="loading">
        <div class="loader" style="display: inline-block;"></div>
        <div style="display: inline-block;">Loading timesheet ...</div>
      </span>
      <form ng-submit="submitTimeSheet()" id="sign-up-form" class="form-signin" name="signup">
        <table class="table table-bordered" style="margin:0">

          <tbody>
              <%= render 'order_date_partial' %>
              <%= render 'customer_partial' %>
              <%= render 'engineer_machine_partial' %>
              <%= render 'departure_partial' %>
              <%= render 'arrival_partial' %>
              <%= render 'kilometers_partial' %>
              <%= render 'weekday_partial' %>
              <%= render 'sundries_partial' %>
              <%= render 'customer_comment_partial' %>
              <%= render 'nilpeter_comment_partial' %>
              <%= render 'iossignature_partial' %>
          </tbody>
      </table>

      <button class="btn btn-primary" id="submitButton" type="submit" ng-disabled="signupForm.loading" hidden>
        <span ng-show="!signupForm.loading">Create IOS Timesheet</span>
        <span class="overlord-loading-spinner fa fa-spinner fa-spin" ng-show="signupForm.loading" ></span>
        <span ng-show="signupForm.loading" ng-disabled="signupForm.loading">Creating timesheet ...</span>
      </button>
    </form>
      <!-- <button ng-click="deselect()">test</button> -->
    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script>
        console.log('<%= @current_user_id %>');
        'use strict';


        var wrapper = document.getElementById("signature-pad"),
            canvas = wrapper.querySelector("canvas"),
            signaturePad;

        var wrapper2 = document.getElementById("signature-pad2"),
            canvas2 = wrapper2.querySelector("canvas"),
            signaturePad2;

        // Adjust canvas coordinate space taking into account pixel ratio,
        // to make it look crisp on mobile devices.
        // This also causes canvas to be cleared.
        function resizeCanvas() {
            // When zoomed out to less than 100%, for some very strange reason,
            // some browsers report devicePixelRatio as less than 1
            // and only part of the canvas is cleared then.
            var ratio =  Math.max(window.devicePixelRatio || 1, 1);
            canvas.width = canvas.offsetWidth * ratio;
            canvas.height = canvas.offsetHeight * ratio;
            canvas.getContext("2d").scale(ratio, ratio);

            canvas2.width = canvas.offsetWidth * ratio;
            canvas2.height = canvas.offsetHeight * ratio;
            canvas2.getContext("2d").scale(ratio, ratio);
        }

        // window.onresize = resizeCanvas;
        resizeCanvas();

        signaturePad = new SignaturePad(canvas);
        signaturePad.off()
        signaturePad2 = new SignaturePad(canvas2);
        signaturePad2.off()

        $("#clearNil").click(function() {
          signaturePad.clear();
        });

        $("#clearCus").click(function() {
          signaturePad2.clear();
        });


        var app = angular.module('Timesheet', ['toastr'])
        app.controller('TimesheetCtrl', ['$scope', '$http', 'toastr', function($scope, $http, $toastr) {

          Date.prototype.formattedDate = function (pattern) {
              formattedDate = pattern.replace('yyyy', this.getFullYear().toString());
              var mm = (this.getMonth() + 1).toString(); // getMonth() is zero-based
              mm = mm.length > 1 ? mm : '0' + mm;
              formattedDate = formattedDate.replace('mm', mm);
              var dd = this.getDate().toString();
              dd = dd.length > 1 ? dd : '0' + dd;
              formattedDate = formattedDate.replace('dd', dd);
              return formattedDate;
          };

          var d = new Date();
          pattern = 'dd/mm/yyyy';

          $scope.signupForm = {
            loading: false
          };

          $scope.loading = false;

          // initializing params
          $scope.timeSheet = {};
          $scope.timeSheet.jobNo = '<%= @schedule.job_num %>';
          $scope.timeSheet.date = '<%= @schedule.date.strftime("%d/%m/%Y") %>';
          $scope.timeSheet.customer = '<%= @schedule.company_name %>';
          $scope.timeSheet.country = 'Thailand';
          $scope.timeSheet.engineer = '<%= @engineers %>';
          $scope.timeSheet.machineType = '<%= @product_types %>';
          $scope.timeSheet.machineNo = '<%= @schedule.machine_number %>';
          $scope.timeSheet.departure = '<%= @schedule.date.strftime("%d/%m/%Y %H:%M") %>'
          $scope.timeSheet.departureFrom = 'Nilpeter';
          $scope.timeSheet.from = d.formattedDate(pattern);
          $scope.timeSheet.fromAt = '<%= @schedule.company_name %>';
          $scope.timeSheet.arrival = '<%= @schedule.date.strftime("%d/%m/%Y") %>';
          $scope.timeSheet.arrivalIn = '<%= @schedule.company_name %>';
          $scope.timeSheet.in = d.formattedDate(pattern);
          $scope.timeSheet.inAt = 'Nilpeter';
          $scope.timeSheet.kilometers = '';
          $scope.timeSheet.car = '';
          $scope.timeSheet.ownCar = 'X';

          $scope.timeSheet.mondayOutN = '';
          $scope.timeSheet.mondayOutO = '';
          $scope.timeSheet.mondayWeekN = '';
          $scope.timeSheet.mondayWeekO = '';
          $scope.timeSheet.mondayWeek2N = '';
          $scope.timeSheet.mondayWeek2O = '';
          $scope.timeSheet.mondayBackN = '';
          $scope.timeSheet.mondayBackO = '';

          $scope.timeSheet.tuesdayOutN = '';
          $scope.timeSheet.tuesdayOutO = '';
          $scope.timeSheet.tuesdayWeekN = '';
          $scope.timeSheet.tuesdayWeekO = '';
          $scope.timeSheet.tuesdayWeek2N = '';
          $scope.timeSheet.tuesdayWeek2O = '';
          $scope.timeSheet.tuesdayBackN = '';
          $scope.timeSheet.tuesdayBackO = '';

          $scope.timeSheet.wednesdayOutN = '';
          $scope.timeSheet.wednesdayOutO = '';
          $scope.timeSheet.wednesdayWeekN = '';
          $scope.timeSheet.wednesdayWeekO = '';
          $scope.timeSheet.wednesdayWeek2N = '';
          $scope.timeSheet.wednesdayWeek2O = '';
          $scope.timeSheet.wednesdayBackN = '';
          $scope.timeSheet.wednesdayBackO = '';

          $scope.timeSheet.thursdayOutN = '';
          $scope.timeSheet.thursdayOutO = '';
          $scope.timeSheet.thursdayWeekN = '';
          $scope.timeSheet.thursdayWeekO = '';
          $scope.timeSheet.thursdayWeek2N = '';
          $scope.timeSheet.thursdayWeek2O = '';
          $scope.timeSheet.thursdayBackN = '';
          $scope.timeSheet.thursdayBackO = '';

          $scope.timeSheet.fridayOutN = '';
          $scope.timeSheet.fridayOutO = '';
          $scope.timeSheet.fridayWeekN = '';
          $scope.timeSheet.fridayWeekO = '';
          $scope.timeSheet.fridayWeek2N = '';
          $scope.timeSheet.fridayWeek2O = '';
          $scope.timeSheet.fridayBackN = '';
          $scope.timeSheet.fridayBackO = '';

          $scope.timeSheet.saturdayOutN = '';
          $scope.timeSheet.saturdayOutO = '';
          $scope.timeSheet.saturdayWeekN = '';
          $scope.timeSheet.saturdayWeekO = '';
          $scope.timeSheet.saturdayWeek2N = '';
          $scope.timeSheet.saturdayWeek2O = '';
          $scope.timeSheet.saturdayBackN = '';
          $scope.timeSheet.saturdayBackO = '';

          $scope.timeSheet.sundayOutN = '';
          $scope.timeSheet.sundayOutO = '';
          $scope.timeSheet.sundayWeekN = '';
          $scope.timeSheet.sundayWeekO = '';
          $scope.timeSheet.sundayWeek2N = '';
          $scope.timeSheet.sundayWeek2O = '';
          $scope.timeSheet.sundayBackN = '';
          $scope.timeSheet.sundayBackO = '';

          $scope.timeSheet.jobFinishedYes = false;
          $scope.timeSheet.jobFinishedNo = false;
          $scope.timeSheet.sparePartYes = false;
          $scope.timeSheet.sparePartNo = false;
          $scope.timeSheet.partYes = false;
          $scope.timeSheet.partNo = false;
          $scope.timeSheet.mechanicalYes = false;
          $scope.timeSheet.mechanicalNo = false;
          $scope.timeSheet.electricalYes = false;
          $scope.timeSheet.electricalNo = false;
          $scope.timeSheet.serviceYes = false;
          $scope.timeSheet.serviceNo = false;
          $scope.timeSheet.graphicYes = false;
          $scope.timeSheet.graphicNo = false;
          $scope.timeSheet.concerningYes = false;
          $scope.timeSheet.concerningNo = false;

          $scope.timeSheet.customerComment = '<%= @project %>';
          $scope.timeSheet.nilpeterComment = '';

          $scope.timeSheet.nilpeterDate = d.formattedDate(pattern);
          $scope.timeSheet.customerDate = d.formattedDate(pattern);

          $scope.submitTimeSheet = function() {

            $scope.signupForm.loading = true;

            $scope.timeSheet = {
              jobNo: $scope.timeSheet.jobNo,
              date: $scope.timeSheet.date,
              customer: $scope.timeSheet.customer,
              country: $scope.timeSheet.country,
              engineer: $scope.timeSheet.engineer,
              machineType: $scope.timeSheet.machineType,
              machineNo: $scope.timeSheet.machineNo,
              departure: $scope.timeSheet.departure,
              departureFrom: $scope.timeSheet.departureFrom,
              from: $scope.timeSheet.from,
              fromAt: $scope.timeSheet.fromAt,
              arrival: $scope.timeSheet.arrival,
              arrivalIn: $scope.timeSheet.arrivalIn,
              in: $scope.timeSheet.in,
              inAt: $scope.timeSheet.inAt,
              kilometers: $scope.timeSheet.kilometers,
              car: $scope.timeSheet.car,
              ownCar: $scope.timeSheet.ownCar,

              mondayOutN: $scope.timeSheet.mondayOutN,
              mondayOutO: $scope.timeSheet.mondayOutO,
              mondayWeekN: $scope.timeSheet.mondayWeekN,
              mondayWeekO: $scope.timeSheet.mondayWeekO,
              mondayWeek2N: $scope.timeSheet.mondayWeek2N,
              mondayWeek2O: $scope.timeSheet.mondayWeek2O,
              mondayBackN: $scope.timeSheet.mondayBackN,
              mondayBackO: $scope.timeSheet.mondayBackO,

              tuesdayOutN: $scope.timeSheet.tuesdayOutN,
              tuesdayOutO: $scope.timeSheet.tuesdayOutO,
              tuesdayWeekN: $scope.timeSheet.tuesdayWeekN,
              tuesdayWeekO: $scope.timeSheet.tuesdayWeekO,
              tuesdayWeek2N: $scope.timeSheet.tuesdayWeek2N,
              tuesdayWeek2O: $scope.timeSheet.tuesdayWeek2O,
              tuesdayBackN: $scope.timeSheet.tuesdayBackN,
              tuesdayBackO: $scope.timeSheet.tuesdayBackO,

              wednesdayOutN: $scope.timeSheet.wednesdayOutN,
              wednesdayOutO: $scope.timeSheet.wednesdayOutO,
              wednesdayWeekN: $scope.timeSheet.wednesdayWeekN,
              wednesdayWeekO: $scope.timeSheet.wednesdayWeekO,
              wednesdayWeek2N: $scope.timeSheet.wednesdayWeek2N,
              wednesdayWeek2O: $scope.timeSheet.wednesdayWeek2O,
              wednesdayBackN: $scope.timeSheet.wednesdayBackN,
              wednesdayBackO: $scope.timeSheet.wednesdayBackO,

              thursdayOutN: $scope.timeSheet.thursdayOutN,
              thursdayOutO: $scope.timeSheet.thursdayOutO,
              thursdayWeekN: $scope.timeSheet.thursdayWeekN,
              thursdayWeekO: $scope.timeSheet.thursdayWeekO,
              thursdayWeek2N: $scope.timeSheet.thursdayWeek2N,
              thursdayWeek2O: $scope.timeSheet.thursdayWeek2O,
              thursdayBackN: $scope.timeSheet.thursdayBackN,
              thursdayBackO: $scope.timeSheet.thursdayBackO,

              fridayOutN: $scope.timeSheet.fridayOutN,
              fridayOutO: $scope.timeSheet.fridayOutO,
              fridayWeekN: $scope.timeSheet.fridayWeekN,
              fridayWeekO: $scope.timeSheet.fridayWeekO,
              fridayWeek2N: $scope.timeSheet.fridayWeek2N,
              fridayWeek2O: $scope.timeSheet.fridayWeek2O,
              fridayBackN: $scope.timeSheet.fridayBackN,
              fridayBackO: $scope.timeSheet.fridayBackO,

              saturdayOutN: $scope.timeSheet.saturdayOutN,
              saturdayOutO: $scope.timeSheet.saturdayOutO,
              saturdayWeekN: $scope.timeSheet.saturdayWeekN,
              saturdayWeekO: $scope.timeSheet.saturdayWeekO,
              saturdayOutO: $scope.timeSheet.saturdayOutO,
              saturdayWeek2N: $scope.timeSheet.saturdayWeek2N,
              saturdayWeek2O: $scope.timeSheet.saturdayWeek2O,
              saturdayBackN: $scope.timeSheet.saturdayBackN,
              saturdayBackO: $scope.timeSheet.saturdayBackO,

              sundayOutN: $scope.timeSheet.sundayOutN,
              sundayOutO: $scope.timeSheet.sundayOutO,
              sundayWeekN: $scope.timeSheet.sundayWeekN,
              sundayWeekO: $scope.timeSheet.sundayWeekO,
              sundayWeek2N: $scope.timeSheet.sundayWeek2N,
              sundayWeek2O: $scope.timeSheet.sundayWeek2O,
              sundayBackN: $scope.timeSheet.sundayBackN,
              sundayBackO: $scope.timeSheet.sundayBackO,

              jobFinishedYes: $scope.timeSheet.jobFinishedYes,
              jobFinishedNo: $scope.timeSheet.jobFinishedNo,
              sparePartYes: $scope.timeSheet.sparePartYes,
              sparePartNo: $scope.timeSheet.sparePartNo,
              partYes: $scope.timeSheet.partYes,
              partNo: $scope.timeSheet.partNo,
              mechanicalYes: $scope.timeSheet.mechanicalYes,
              mechanicalNo: $scope.timeSheet.mechanicalNo,
              electricalYes: $scope.timeSheet.electricalYes,
              electricalNo: $scope.timeSheet.electricalNo,
              serviceYes: $scope.timeSheet.serviceYes,
              serviceNo: $scope.timeSheet.serviceNo,
              graphicYes: $scope.timeSheet.graphicYes,
              graphicNo: $scope.timeSheet.graphicNo,
              concerningYes: $scope.timeSheet.concerningYes,
              concerningNo: $scope.timeSheet.concerningNo,
              customerComment: $scope.timeSheet.customerComment,
              nilpeterComment: $scope.timeSheet.nilpeterComment,
              nilpeterDate: $scope.timeSheet.nilpeterDate,
              customerDate: $scope.timeSheet.customerDate
            }

            var timeSheetData = JSON.stringify($scope.timeSheet);
            var nilSig = signaturePad.toDataURL();
            var cusSig = signaturePad2.toDataURL();

            console.log(timeSheetData);
            console.log(nilSig);
            console.log(cusSig);

            $toastr.info("creating please wait...");

            $http.post('/ioscalendar/create_timesheet', {
              user_id: '<%= @current_user_id %>',
              schedule_id: '<%= @schedule_id %>',
              data : timeSheetData,
              nil_sig : nilSig,
              cus_sig : cusSig
            })
            .then(function onSuccess (){
              // Refresh the page now that we've been logged in.
              // window.location = '/register';
            })
            .catch(function onError(sailsResponse) {
              console.log(sailsResponse);
            }).
            finally(function eitherWay() {
              console.log("post to ios timeSheet");
              $toastr.success('Successfully created');
              $scope.signupForm.loading = false;
            });
          };

          $scope.deselect = function() {
            var nilSig = $('#nilpeterSignature').signature('toJSON');
            console.log(nilSig);
            console.log(nilSig.lines);
          }
        }]);
    </script>

    <!-- Auto resize textarea -->
    <!-- Signature -->
    <script>

      function autoSize(ele) {
         ele.style.height = 'auto';
         var newHeight = (ele.scrollHeight > 32 ? ele.scrollHeight : 32);
         ele.style.height = newHeight.toString() + 'px';
      }

    </script>


  </body>
</html>
