<!DOCTYPE html>
<html lang="en" ng-app="Timesheet">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <style>

    .container {
      min-width:992px;
    }

      h1 {
        text-align: right;
      }

      .table td{
        border:1px solid #FF0000;
        border-color: red;
        padding: none;
      }

      .table tr td {
        margin:0;
        padding:0;
      }

      .weekend tr td {
        margin:0;
        padding:0;
      }

      .table.monday tr td {
        font-size:small;
        width: 190pt;
      }

      .input-group-addon {
        color: red;
        background-color: white;
        border-color: white;
        font-size: 9;
      }


      .table-bordered td, .table-bordered th{
          border-color: red;
          padding: none;
          width: 75%;
      }

      .form-group {
        border: 1px solid #FF0000;
        color: red;
        margin: 0;
      }

      .input-group {
        width:100%;
      }

      .input-group input {
        border: none;
      }

      .loader {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid red;
        width: 5px;
        height: 5px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }

      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <!-- Signature -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/south-street/jquery-ui.css" rel="stylesheet">

    <style>
    .kbw-signature { width: 400px; height: 200px; }
    </style>
    <!--[if IE]>
    <script src="excanvas.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
    <%= javascript_include_tag "signature_pad" %>

  </head>
  <body ng-controller="TimesheetCtrl">
    <div class="container">
      <div style="color:red">
        <%= link_to image_tag("nilpeter.png"), {action: 'index', controller: 'calendar'},
         style: "display:inline-block;float:left",
         height:"90%"%>
        <div style="display:inline-block;float:left">
          <br>
          <b >nilpeter asia pacific</b>
          <br>
        <p >499/37 Moo 13, Rachathewa
          <br>
          Bangplee, Samutprakarn
          <br>
          10540 Thailand
        </p></div>
        <div style="display:inline-block;float:right;">
          <h1 >TIME SHEET
          </h1>
          <br>
          <br>
          <a style="display:inline-block;float:right;" href="/ioscalendar/print_timesheet/<%= @timesheet_id %>.pdf" target="_blank"><u>print</u></a>

        </div>

        </div>
      <span ng-show="loading">
        <div class="loader" style="display: inline-block;"></div>
        <div style="display: inline-block;">Loading timesheet ...</div>
      </span>

      <form ng-submit="submitTimeSheet()" id="sign-up-form" class="form-signin" name="signup">
        <table class="table table-bordered" style="margin:0">

          <tbody>
              <%= render 'print_order_date_partial' %>
              <%= render 'print_customer_partial' %>
              <%= render 'print_engineer_machine_partial' %>
              <%= render 'print_departure_partial' %>
              <%= render 'print_arrival_partial' %>
              <%= render 'print_kilometers_partial' %>
              <%= render 'print_weekday_partial' %>
              <%= render 'print_sundries_partial' %>
              <%= render 'print_customer_comment_partial' %>
              <%= render 'print_nilpeter_comment_partial' %>
              <%= render 'print_signature_partial' %>
          </tbody>
      </table>

      <!-- <button class="btn btn-primary" type="submit" ng-disabled="signupForm.loading">
        <span ng-show="!signupForm.loading">Create Timesheet</span>
        <span class="overlord-loading-spinner fa fa-spinner fa-spin" ng-show="signupForm.loading" ></span>
        <span ng-show="signupForm.loading" ng-disabled="signupForm.loading">Creating timesheet ...</span>
      </button> -->
    </form>
      <!-- <button ng-click="deselect()">test</button> -->
    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script>
        console.log('<%= @current_user_id %>');
        'use strict';

        $('#jfy').attr('checked','<%= @timesheet_json["jobFinishedYes"] %>' === "true");
        $('#jfn').attr('checked','<%= @timesheet_json["jobFinishedNo"] %>' === "true");
        $('#sparePartYes').attr('checked','<%= @timesheet_json["sparePartYes"] %>' === "true");
        $('#sparePartNo').attr('checked','<%= @timesheet_json["sparePartNo"] %>' === "true");
        $('#partYes').attr('checked','<%= @timesheet_json["partYes"] %>' === "true");
        $('#partNo').attr('checked','<%= @timesheet_json["partNo"] %>' === "true");
        $('#mechanicalYes').attr('checked','<%= @timesheet_json["mechanicalYes"] %>' === "true");
        $('#mechanicalNo').attr('checked','<%= @timesheet_json["mechanicalNo"] %>' === "true");
        $('#electricalYes').attr('checked','<%= @timesheet_json["electricalYes"] %>' === "true");
        $('#electricalNo').attr('checked','<%= @timesheet_json["electricalNo"] %>' === "true");
        $('#serviceYes').attr('checked','<%= @timesheet_json["serviceYes"] %>' === "true");
        $('#serviceNo').attr('checked','<%= @timesheet_json["serviceNo"] %>' === "true");
        $('#graphicYes').attr('checked','<%= @timesheet_json["graphicYes"] %>' === "true");
        $('#graphicNo').attr('checked','<%= @timesheet_json["graphicNo"] %>' === "true");
        $('#concerningYes').attr('checked','<%= @timesheet_json["concerningYes"] %>' === "true");
        $('#concerningNo').attr('checked','<%= @timesheet_json["concerningNo"] %>' === "true");


        var app = angular.module('Timesheet', [])
        app.controller('TimesheetCtrl', ['$scope', '$http', function($scope, $http) {

          $scope.signupForm = {
            loading: false
          };

          $scope.loading = false;

          // $scope.timeSheet.customerComment = '<%= @timesheet_json["customerComment"].gsub(/\n/, '\n') %>';
          // $scope.timeSheet.nilpeterComment = '<%= @timesheet_json["nilpeterComment"].gsub(/\n/, '\n') %>';

          $scope.deselect = function() {
            var nilSig = $('#nilpeterSignature').signature('toJSON');
            console.log(nilSig);
            console.log(nilSig.lines);
          }
        }]);
    </script>

    <!-- Auto resize textarea -->
    <!-- Signature -->
    <script>

      function autoSize(ele) {
         ele.style.height = 'auto';
         var newHeight = (ele.scrollHeight > 32 ? ele.scrollHeight : 32);
         ele.style.height = newHeight.toString() + 'px';
      }

    </script>


  </body>
</html>
