<!DOCTYPE html>
<html lang="en" ng-app="Timesheet">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <%= wicked_pdf_stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css",
    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/south-street/jquery-ui.css", "signature_pad"-%>

    <style>
    .container {
      /*min-width:992px;*/
      width: 100%;
      height: 100%;
    }

      h1 {
        text-align: right;
      }

      .table td{
        border:1px solid #FF0000;
        border-color: red;
        padding: none;
      }

      .table tr td {
        margin:0;
        padding:0;
      }

      .weekend tr td {
        margin:0;
        padding:0;
      }

      .table.monday tr td {
        font-size:small;
        width: 190pt;
      }

      .input-group-addon {
        color: red;
        background-color: white;
        border-color: white;
        font-size: 9;
      }

      .table-bordered td, .table-bordered th{
          border-color: red;
          padding: none;
      }

      .form-group {
        border: 1px solid #FF0000;
        color: red;
        margin: 0;
      }

      .input-group {
        width:100%;
     }

      input[type="text"] { border: none }

      .loader {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid red;
        width: 5px;
        height: 5px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }

      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      .kbw-signature { width: 400px; height: 200px; }

      img {
        display:inline-block;
        float:left;
        height:"90%";
      }

      table, tr, td, th, tbody, thead, tfoot {
          page-break-inside: avoid;
      }



    </style>

    <%= wicked_pdf_javascript_include_tag "https://www.atlasestateagents.co.uk/javascript/tether.min.js",
     "signature_pad", "http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js",
     "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"%>
  </head>
  <body ng-controller="TimesheetCtrl">
    <div class="container">
      <div style="color:red">
          <%= wicked_pdf_image_tag "nilpeter.png"%>
        <div style="display:inline-block;float:left">
          <br>
          <b >nilpeter asia pacific</b>
          <br>
        <p >499/37 Moo 13, Rachathewa
          <br>
          Bangplee, Samutprakarn
          <br>
          10540 Thailand
        </p></div>
        <h1 style="display:inline-block;float:right;">TIME SHEET</h1>
      </div>

        <table class="table table-bordered" style="margin:0">

          <tbody>
              <%= render 'print_order_date_partial' %>
              <%= render 'print_customer_partial' %>
              <%= render 'print_engineer_machine_partial' %>
              <%= render 'print_departure_partial' %>
              <%= render 'print_arrival_partial' %>
              <%= render 'print_kilometers_partial' %>
              <%= render 'print_weekday_partial' %>
              <%= render 'print_sundries_partial' %>
              <%= render 'print_customer_comment_partial' %>
              <%= render 'print_nilpeter_comment_partial' %>
              <%= render 'print_signature_partial' %>
          </tbody>
      </table>


    </div>

    <!-- Auto resize textarea -->
    <!-- Signature -->
    <script>
        console.log('<%= @current_user_id %>');
        'use strict';

        $('#jfy').attr('checked','<%= @timesheet_json["jobFinishedYes"] %>' === "true");
        $('#jfn').attr('checked','<%= @timesheet_json["jobFinishedNo"] %>' === "true");
        $('#sparePartYes').attr('checked','<%= @timesheet_json["sparePartYes"] %>' === "true");
        $('#sparePartNo').attr('checked','<%= @timesheet_json["sparePartNo"] %>' === "true");
        $('#partYes').attr('checked','<%= @timesheet_json["partYes"] %>' === "true");
        $('#partNo').attr('checked','<%= @timesheet_json["partNo"] %>' === "true");
        $('#mechanicalYes').attr('checked','<%= @timesheet_json["mechanicalYes"] %>' === "true");
        $('#mechanicalNo').attr('checked','<%= @timesheet_json["mechanicalNo"] %>' === "true");
        $('#electricalYes').attr('checked','<%= @timesheet_json["electricalYes"] %>' === "true");
        $('#electricalNo').attr('checked','<%= @timesheet_json["electricalNo"] %>' === "true");
        $('#serviceYes').attr('checked','<%= @timesheet_json["serviceYes"] %>' === "true");
        $('#serviceNo').attr('checked','<%= @timesheet_json["serviceNo"] %>' === "true");
        $('#graphicYes').attr('checked','<%= @timesheet_json["graphicYes"] %>' === "true");
        $('#graphicNo').attr('checked','<%= @timesheet_json["graphicNo"] %>' === "true");
        $('#concerningYes').attr('checked','<%= @timesheet_json["concerningYes"] %>' === "true");
        $('#concerningNo').attr('checked','<%= @timesheet_json["concerningNo"] %>' === "true");


        var app = angular.module('Timesheet', [])
        app.controller('TimesheetCtrl', ['$scope', '$http', function($scope, $http) {

          $scope.signupForm = {
            loading: false
          };

          $scope.loading = false;

          // $scope.timeSheet.customerComment = '<%= @timesheet_json["customerComment"].gsub(/\n/, '\n') %>';
          // $scope.timeSheet.nilpeterComment = '<%= @timesheet_json["nilpeterComment"].gsub(/\n/, '\n') %>';

          $scope.deselect = function() {
            var nilSig = $('#nilpeterSignature').signature('toJSON');
            console.log(nilSig);
            console.log(nilSig.lines);
          }
        }]);

        // $("textarea").css("height", "500px");
    </script>

    <!-- Auto resize textarea -->
    <!-- Signature -->
    <script>

    function setSize(ele) {
       ele.style.height = 'auto';
       var newHeight = (ele.scrollHeight > 32 ? ele.scrollHeight : 32);
       ele.style.height = newHeight.toString() + 'px';
       console.log(ele.style.height);

    }

    setSize($('textarea')[0]);
    setSize($('textarea')[1]);

    </script>


  </body>
</html>
