<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <style>
      h1 {
        text-align: right;
      }

      .table td{
        border:1px solid #FF0000;
        border-color: red;
        padding: none;
      }

      .table tr td {
        margin:0;
        padding:0;
      }

      .weekend tr td {
        margin:0;
        padding:0;
      }

      .table.monday tr td {
        font-size:small;
        width: 190pt;
      }

      .input-group-addon {
        color: red;
        background-color: white;
        border-color: white;
        font-size: 9;
      }

      .table-bordered td, .table-bordered th{
          border-color: red;
          padding: none;
      }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <%= form_tag({:action => 'create_timesheet'}, :id => 'commentForm', :class => "cmxform schedule") do %>

        <table class="table table-bordered" style="margin:0">
          <h1>TIME SHEET</h1>
          <tbody>
              <%= render 'order_date_partial' %>
              <%= render 'customer_partial' %>
              <%= render 'engineer_machine_partial' %>
              <%= render 'departure_partial' %>
              <%= render 'arrival_partial' %>
              <%= render 'kilometers_partial' %>
              <%= render 'weekday_partial' %>
              <%= render 'monday_partial' %>

          </tbody>
      </table>
      <%= submit_tag('Submit Timesheet', :class => "btn btn-default") %>
    <% end %>

    </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>
</html>
