<!-- / header -->
<div><%= render 'header' %></div>


<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Location Page</h1>  
  </div><!--/.header-collapse -->

<%= form_tag(:action => 'create') do %>

  <label>
    <div>Add Location</div>
    <%= hidden_field(:location, :company_id, :value => params[:id]) %>
    <%= text_field(:location, :name) %>
  </label>

   <%= submit_tag('Create Location') %>
<% end %> 
  </br>

<table class="list"  summary="Schedule list">
  <tr class="header">
    
    <th>Company Location</th>
    
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @company.locations.each do |c| %>
  <tr>   
    
    <td class='normal'><%= c.name %></td>
   
    <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Edit", {:action => 'edit', :id => c.id}) %></button></td>
    <td class='short'><button type="button" class="btn btn-primary"><%= link_to("Delete", {:action => 'delete', :id => c.id}) %></button></td>
  </tr>
  <% end %>  
</table>
</div>

<!-- / footer -->
<div><%= render '/register/footer' %></div>
