<style> 
  .btn.btn-primary {
    background-color: #33AAFF;
    width: 75px;
  } 
  .btn.btn-primary a {
    color: white;
  }
  
</style>

<table class="table table-bordered" >
  <tr class="header">
    <%#*<th><%= sortable("Date & Time", "date") %>
    <%#*<th><%= sortable("Company", "company") %>
    <th>DATE</th>
    <th>COMPANY</th>
    <th>LOCATION</th>
    <th>SALES</th>
    <th>PRODUCTS</th>
    <th>DESCRIPTION</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  <% @schedule.each do |s| %>
  <tr>   
    <td class='normal'><%= s.date.utc.strftime("%d/%m/%Y %H:%M") unless s.date.nil? %></td>
    <td class='normal'><%= s.company.name unless s.company.nil? %></td>
    <td class='long'><%= s.location.name unless s.location.nil? %></td>
    <td class='short'><%= s.sale.name unless s.sale.nil? %></td>
    <td class='normal'><% s.products.each do |i| %>
    <%= i.name %>
      <br/>  
    <% end %>
    </td>
    <td class='long'><%= s.project %></td>
    <td class='short'><button type="button" class="btn btn-primary css3button"><%= link_to("EDIT", {:action => 'edit', :id => s.id}) %></button></td>
    <td class='short'><button type="button" class="btn btn-primary css3button"><%= link_to("DELETE", {:action => 'delete', :id => s.id}) %></button></td>
  </tr>
  <% end %>  
</table>
 <div class="apple_pagination">
    <%= will_paginate @schedule %>
</div>

