<style>
  .btn.btn-primary {
    background-color: #33AAFF;
    width: 75px;
  }
  .btn.btn-primary a {
    color: white;
  }


</style>

<table class="table table-bordered" >
  <tr class="header">
    <%#*<th><%= sortable("Date & Time", "date") %>
    <%#*<th><%= sortable("Company", "company") %>
    <th>DATE</th>
    <th>COMPANY</th>
    <th>JOB NO</th>
    <th style="width:200px;">CHARGABLE</th>
    <th>MACHINE NO.</th>
    <th>ENGINEERS</th>
    <th>CREATOR</th>
    <!-- <th>PRODUCTS</th> -->
    <th>DESCRIPTION</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  <% @schedule.each do |s| %>
  <tr>
    <td class='normal'>
      <%= s.date.utc.strftime("%d/%m/%Y %H:%M") unless s.date.nil? %>&ensp;&ndash;
      <br/>
      <%= s.end_date.utc.strftime("%d/%m/%Y %H:%M") unless s.end_date.nil? %>
    </td>
    <td class='normal'><%= s.company_name unless s.company_name.nil? %></td>
    <td class='normal'><%= s.job_num unless s.job_num.nil? %></td>
    <td class='normal'><%= s.chargable == 1 ? "YES" : "NO" %></td>
    <td class='normal'><%= s.machine_number unless s.machine_number.nil? %></td>
    <td class='normal'><% s.users.each do |i| %>
    <%= i.email.split("@")[0].upcase %>
      <br/>
    <% end %>
    </td>
    <!-- <td class='long'><%= s.location.name unless s.location.nil? %></td> -->
    <td class='short'><%= s.sale.name unless s.sale.nil?  %> <%= if s.sale.nil? then s.user.email.split("@")[0].upcase unless s.user.nil? end  %></td>
    <!-- <td class='normal'><% s.products.each do |i| %>
    <%= i.name %>
      <br/>
    <% end %>
    </td> -->
    <td class='long'><%= s.project %></td>
    <td class='short'><button type="button" class="btn btn-primary css3button"><%= link_to("EDIT", {:action => 'edit', :id => s.id}) %></button></td>
    <td class='short'><button type="button" class="btn btn-primary css3button"><%= link_to("DELETE", {:action => 'destroy', :id => s.id}, :confirm => "Are you sure?") %></button></td>
  </tr>
  <% end %>
</table>
 <div class="apple_pagination">
    <%= will_paginate @schedule %>
</div>

<%= javascript_tag do %>
  $(document).ready(function () {
  $('*[data-confirm]').click(function(){
    return confirm($(this).attr('data-confirm'));
  });
});
<% end %>
