<style>
  .user_name {
    text-align: left;
  }
  
  th {
    color: #303030;
  }
  
  tbody td {
    font-size: 10pt;
    text-align: center;
  }
  
  .navbar-form {
    padding: 0px;
    
  }
</style>

<div class="container">
  
  <%= form_tag '/', :method => 'get', :id => "sales_search", :class => "navbar-form navbar-right" do %>
    <p>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], :placeholder => "SEARCH SALES NAME" %>
      </div>
    </p>
  <% end %>
    
    <br>
    
  <% if current_user %>
    <div class="user_name">
    WELCOME <%= current_user.email %>.
    </div>
  <% end %>
  
 <div id="calendar_p"><%= render 'calendar_partial' %></div>
  
  

</div>
<div><%= render 'hover' %></div>

<%= javascript_tag do %>
	
     $(document).ready(function() {	    
     
                 $.ionSound({
                   sounds: [
                       "calendar"
                   ],
                   path: "http://k007.kiwi6.com/hotlink/jerymfm7jb/",
                   multiPlay: true,
                   volume: "1.0"
               });
               $.ionSound.play("calendar");
               
               $('#sales_search input').keyup(function () {
                  $.get($('#sales_search').attr('action'), $('#sales_search').serialize(), null, 'script');
                      
                  var source = [
                                
                                <% @schedule.each do |s| %>
				{
					title: '<%= s.company.name unless s.company.nil? %>' + " : " + '<%=  s.sale.name unless s.sale.nil? %>',
                                        company: '<%= s.company.name unless s.company.nil? %>',
                                        location: '<%= s.location.name unless s.location.nil? %>',
                                        sales: '<%= s.sale.name unless s.sale.nil? %>',
                                        project: '<%= s.project.rstrip().gsub("'"){"\\'"}.split.join(' ') unless s.project.nil? %>',
                                        <% x = Array.new  %>
                                        <% s.products.each do |i| %>
                                          <% x.push(i.name)  %>
                                         <% end %>                      
                                        products: '<%= x.to_s %>',                                       
					start: new Date(<%= s.date.strftime("%Y, %m - 1, %d, %H, %M") %>),
                                        allDay: false
				},
				<% end %>
			];
                        
                        
                        console.log('<%= @schedule.last.sale.name unless @schedule.last.sale.nil? %>');
                        
                   <%#*$('#calendar').fullCalendar( 'removeEvents');%>
                   <%#*$('#calendar').fullCalendar( 'addEventSource', source );%>                
                   $('#calendar').fullCalendar(  'refetchEvents');   
                  
                  
                  
                
              });
	});     
<% end %>
  



