<style>
  th {
    color: black;
  }
  td {
    font-size: 9pt;
  }
  table {
    margin-bottom: 10px;
  }
</style>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
<%= form_tag(:action => 'destroy', :id => @schedule.id) do %>
  <table class="list"  summary="Schedule list">
    <tr class="header">
      <th>Project</th>
      <th>Date</th>
      <th>Customer</th>
      <th>Sales Name</th>
    </tr>
    <tr>
      <td><%= @schedule.project %></td>
      <td><%= @schedule.date %></td>
      <td><%= @schedule.company.name unless @schedule.company.nil? %></td>
      <td><%= @schedule.sale.name unless @schedule.sale.nil? %></td>
    </tr>
  </table>
<%= submit_tag('Delete Schedule', class: "btn btn-large btn-primary") %>
<% end %>
</div>