<!-- / header -->
<div><%= render 'header' %></div>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Edit Page</h1>
  </div>

<%= form_tag(:action => 'update', :id => @schedule.id) do %>

  <label>
    <div>Date & Time</div>
    <%= text_field(:schedule, :date, :class => "datetimepicker") %>
  </label>
  <label id="company">
    <div>Customer Name</div>
    <%= collection_select(:schedule, :company_id, @companies, :id, :name, {:prompt=>"Please Select Company"}, {:class=>'e9', :style=>"width:350px"}) %> 
  </label>
  <label id="location">
    <div>Customer Location</div>
      <%= grouped_collection_select :schedule, :location_id, Company.order(:name), :locations, :name, :id, :name, {:prompt=>"Please Select Company"}, {:class=>'e9', :style=>"width:350px"} %>
  </label>
  <label>   
    <div>Sales Name</div>
    <%= collection_select(:schedule, :sale_id, @sale, :id, :name, {:prompt=>"Please Select Company"}, {:class=>'e9', :style=>"width:350px"}) %>
  </label>
  <label>
    <div>Project Description</div>
    <%= text_area(:schedule, :project) %>
  </label>
  <div class="error"><%= @error %></div>
  
  <%= submit_tag('Update Schedule') %> 
<% end %>
</div>

<!-- / footer -->
<div><%= render 'footer' %></div>
  
<%= javascript_tag do %>  
  <%#*Date picker function%>              
  $(function(){
      $('.datetimepicker').datetimepicker({
        format:'d/m/Y H:i'
      });
  });
  
  
  <%#*This is for select box%>
  $(document).ready(function() { 
      $(".e9").select2(); 
  });
<% end %>
  