<style>
  .cmxform.schedule {
       max-width: 450px;
       padding: 19px 29px 9px;
       margin: 0 auto 20px;
       background-color: #e5e5e5;
       border: 1px solid #e5e5e5;
       -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
               border-radius: 5px;
       -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
               box-shadow: 0 1px 2px rgba(0,0,0,.05);
       margin-bottom: 0px;
  }
  
  .cmxform.schedule label,
  .cmxform.schedule .checkbox-inline b {
      color: #303030;
      font-family: modern;
   }
   
   .checkbox-inline .field {
     color: #3f3f3f;
   }
   
   .btn.btn-large.btn-primary {
     background-color: #33AAFF;
     margin-bottom: 10px;
     width: 140px;
     font-size: 10pt;
     padding-left: 5px;
     margin-left: 10px;
     text-align: center;
     color: white;
   }
   
   .instruction {
     text-align: center;
     margin: 0px;
   }
    
   .project-des {font-size: 12pt;}
</style>

<div class="container">
<!-- Main component for a primary marketing message or call to action -->
<div id="schedule-form">
<%= form_tag({:action => 'update', :id => @schedule.id}, :class => "cmxform schedule") do %>
  <fieldset>
  <label for="cdate">
    <div>Date & Time</div>
    <%= text_field(:schedule, :date, :class => "datetimepicker") %>
  </label>
  <label id="company">
    <div>Customer Name</div>
    <%= collection_select(:schedule, :company_id, @companies, :id, :name, {:prompt=>"Please Select Company"}, {:class=>'e9', :style=>"width:350px"}) %> 
  </label>
  <label id="location">
    <div>Customer Location</div>
      <%= grouped_collection_select :schedule, :location_id, Company.order(:name), :locations, :name, :id, :name, {:prompt=>"Please Select Company"}, {:class=>'e9', :style=>"width:350px"} %>
  </label>
  <label>   
    <div>Sales Name</div>
    <%= collection_select(:schedule, :sale_id, @sale, :id, :name, {:prompt=>"Please Select Company"}, {:class=>'e9', :style=>"width:350px"}) %>
  </label> 
  <div class="checkbox-inline">
  <div><b>Nilpeter Products</b></div>
    <div class="field">
    <% @nilpeter_products.each do |category| %>
      <%= check_box_tag('products[]', category.id, @schedule.product_ids.include?(category.id)) %>
      <%= category.name %><br/>
    <% end %>
    </div>
  </div>
  </br>
  <div class="checkbox-inline">
  <div><b>OEM Products</b></div>
    <div class="field">
    <% @oem1.each do |category| %>
      <%= check_box_tag('products[]', category.id, @schedule.product_ids.include?(category.id)) %>
      <%= category.name %><br>
    <% end %>
    </div>
  </div> 
  <div class="checkbox-inline">
    </br>
    <div class="field">
    <% @oem2.each do |category| %>
      <%= check_box_tag('products[]', category.id, @schedule.product_ids.include?(category.id)) %>
      <%= category.name %><br>
    <% end %>
    </div>
  </div>
  <label>
    <div>Project Description</div>
    <%= text_area(:schedule, :project, :class => 'project-des') %>
  </label>
  <div class="error"><%= @error %></div>
  <%= submit_tag('Update Schedule', class: "btn btn-large btn-primary") %> 
<% end %>
  </fieldset>
</div>
</div>

<%= javascript_tag do %>  
  <%#*Date picker function%>              
  $(function(){
      $('.datetimepicker').datetimepicker({
        format:'d/m/Y H:i'
      });
  });
 
  $(document).ready(function() { 
      $(".e9").select2(); 
  });
<% end %>
  