<h1>Welcome to Calendar Page</h1>

<div class="notice"><%= flash[:notice] %></div>

<%= link_to("Schedule", {:action => 'schedule'}) %>

<table class="list"  summary="Schedule list">
  <tr class="header">
    <th>Project</th>
    <th>Date</th>
    <th>Customer</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @schedule.each do |s| %>
  <tr>
    <td><%= s.project %></td>
    <td><%= s.date.strftime("%m/%d/%Y") %></td>
    <td><%= s.customer %></td>
    <td><%= link_to("Edit", {:action => 'edit', :id => s.id}) %></td>
    <td><%= link_to("Delete", {:action => 'delete', :id => s.id}) %></td>
  </tr>
  <% end %>
</table>
