
<!-- / header -->
<div><%= render 'header' %></div>

<!-- / search bar -->
<%#*<ul class="nav nav-pills">%>
<%#*<form class="navbar-form" role="search" id="products_search">%>
<%#= form_tag :action => 'index', :id => "record_search", :method => "get" do %>
  <%#*<div class="form-group">%>
    <%#= text_field_tag :search, params[:search], :class=>"form-control", :placeholder=>"Search" %>
    <%#= submit_tag "Search", :name => nil, :class=>"btn btn-default" %>
  <%#*</div>%>
<%# end %>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Table Page</h1>
  </div><!--/.header-collapse -->
  <!--/ flash massages -->
  <div class="notice"><%= flash[:notice] %></div> 
  
  <div><button type="button" class="btn pull-right btn-primary export"><%= link_to("Export", {:action => 'export_csv'}) %></button></div>
  <!--/ table content -->
  <div id="schedule-table"><%= render 'partial' %></div>
  <!-- / footer -->
<div><%= render 'footer' %></div>

</div> <!-- /container -->

<div><%= render 'hover' %></div>

<!-- / javascript -->
<%= javascript_tag do %>
   $(document).ready(function() {
    $(document).on("click", "#schedule-table th a, #schedule-table .pagination a", function() {
      $.getScript(this.href);
      return false;
    }); 
    $("#products_search input").keyup(function() {
      $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, "script");
    return false;
    });
    
     $.ionSound({
                    sounds: [
                        "table"
                    ],
                  
                    path: "http://k007.kiwi6.com/hotlink/iho1yhka0o/",
                    multiPlay: true,
                    volume: "1.0"
                    
                });
                
                $.ionSound.play("table");
   
  });  
<% end %>