<h1>Welcome to Calendar Page</h1>

<div class="notice"><%= flash[:notice] %></div>

<ul class="nav nav-pills">
<li ><%= link_to "Calendar", :action => 'calendar' %></li>
<li ><%= link_to "Schedule", :action => 'schedule' %></li>
<li class="active"><%= link_to "Table", :action => 'index' %></li> 

</ul>

<form class="navbar-form navbar-left" role="search">
<%= form_tag :action => 'index', :id => "record_search" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], :class=>"form-control", :placeholder=>"Search" %>
    <%= submit_tag "Search", :name => nil, :class=>"btn btn-default" %>
  </div>
<% end %>
</form>

<table class="list"  summary="Schedule list">
  <tr class="header">
    <th><%= sortable("Date & Time", "date") %></th>
    <th><%= sortable("Customer", "customer") %></th>
    <th>Customer Location</th>
    <th>Sales Name</th>
    <th>Project Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @schedule.each do |s| %>
  <tr>   
    <td class='normal'><%= s.date.strftime("%d/%m/%Y %H:%M") %></td>
    <td class='normal'><%= s.customer %></td>
    <td class='normal'><%= s.location %></td>
    <td class='normal'><%= s.sales %></td>
    <td class='long'><%= s.project %></td>
    <td class='short'><%= link_to("Edit", {:action => 'edit', :id => s.id}) %></td>
    <td class='short'><%= link_to("Delete", {:action => 'delete', :id => s.id}) %></td>
  </tr>
  <% end %>  
</table>


<div class="apple_pagination">
    <%= will_paginate @schedule %>
</div>