<style>
  tbody td {
    font-size: 10pt;
    text-align: center;
  }
  tr {
    color: black;
  }
  .header {
    background-color: #BBBBBB;
  }

  .navbar-form {
    padding: 0px;

  }

  .download {
    /*text-align: right;*/
    padding-right: 15px;
    color:  #33AAFF;
  }

</style>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <!--/ flash massages -->
  <% if current_user %>
    <div class="user_name">
    WELCOME <%= current_user.email %>.
    <%= link_to("Download", {:action => 'export_csv'}, :class => "navbar-form navbar-right download") %>
    </div>
  <% end %>
  <%= form_tag '/register', :method => 'get', :id => "sales_search", :class => "navbar-form navbar-right" do %>

    <p>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], :placeholder => "SEARCH SALES NAME" %>
      </div>
    </p>
  <% end %>


<div class="notice"><%= flash[:notice] %></div>
<div id="schedule-table"><%= render 'partial' %></div>
</div>
<div><%= render 'hover' %></div>

<!-- / javascript -->
<%= javascript_tag do %>
   $(document).ready(function() {

     $.ionSound({
          sounds: [
              "table"
          ],

          path: "http://k007.kiwi6.com/hotlink/iho1yhka0o/",
          multiPlay: true,
          volume: "1.0"

      });
      $.ionSound.play("table");

      $('#sales_search input').keyup(function () {
        $.get($('#sales_search').attr('action'), $('#sales_search').serialize(), null, 'script');
      });
  });
<% end %>
