<!-- / header -->
<div><%= render 'header' %></div>

<!-- / search bar -->
<%#*<ul class="nav nav-pills">%>
<%#*<form class="navbar-form" role="search" id="products_search">%>
<%#= form_tag :action => 'index', :id => "record_search", :method => "get" do %>
  <%#*<div class="form-group">%>
    <%#= text_field_tag :search, params[:search], :class=>"form-control", :placeholder=>"Search" %>
    <%#= submit_tag "Search", :name => nil, :class=>"btn btn-default" %>
  <%#*</div>%>
<%# end %>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Table Page</h1>
    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="http://getbootstrap.com/components/#navbar" role="button">View navbar docs »</a>
    </p>
  </div><!--/.header-collapse -->
  <!--/ flash massages -->
  <div class="notice"><%= flash[:notice] %></div> 
  <!--/ table content -->
  <div id="schedule-table"><%= render 'partial' %></div>
</div> <!-- /container -->

<!-- / footer -->
<div><%= render 'footer' %></div>

<!-- / javascript -->
<%= javascript_tag do %>
   $(document).ready(function() {
    $(document).on("click", "#schedule-table th a, #schedule-table .pagination a", function() {
      $.getScript(this.href);
      return false;
    }); 
    $("#products_search input").keyup(function() {
      $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, "script");
    return false;
    });
  });  
<% end %>