<h1>Welcome to Calendar Page</h1>

<div class="notice"><%= flash[:notice] %></div>




<ul class="nav nav-pills">
<li ><%= link_to "Calendar", :action => 'calendar' %></li>
<li ><%= link_to "Schedule", :action => 'schedule' %></li>
<li class="active"><%= link_to "Table", :action => 'index' %></li> 

<form class="navbar-form navbar-left" role="search" id="products_search">
<%= form_tag :action => 'index', :id => "record_search", :method => "get" do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], :class=>"form-control", :placeholder=>"Search" %>
    <%#= submit_tag "Search", :name => nil, :class=>"btn btn-default" %>
  </div>

<% end %>
  <div id="schedule-table"><%= render 'partial' %></div>
</form>
</ul>





<%= javascript_tag do %>

   $(document).ready(function() {
    $(document).on("click", "#schedule-table th a, #schedule-table .pagination a", function() {
      $.getScript(this.href);
      return false;
    });
    
    $("#products_search input").keyup(function() {
      $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, "script");
    return false;
    });
  });

  
<% end %>