<h1>Welcome to Calendar Page</h1>

<div class="notice"><%= flash[:notice] %></div>

<%= link_to("Schedule", {:action => 'schedule'}) %>
<br>
<div></div>
<br>
<%= link_to("Calendar", {:action => 'calendar'}) %>

<table class="list"  summary="Schedule list">
  <tr class="header">
    <th>Date & Time</th>
    <th>Customer Name</th>
    <th>Customer Location</th>
    <th>Sales Name</th>
    <th>Project Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @schedule.each do |s| %>
  <tr>   
    <td class='normal'><%= s.date.strftime("%d/%m/%Y") %></td>
    <td class='normal'><%= s.customer %></td>
    <td class='normal'><%= s.location %></td>
    <td class='normal'><%= s.sales %></td>
    <td class='long'><%= s.project %></td>
    <td class='short'><%= link_to("Edit", {:action => 'edit', :id => s.id}) %></td>
    <td class='short'><%= link_to("Delete", {:action => 'delete', :id => s.id}) %></td>
  </tr>
  <% end %>
</table>
