<!-- / header -->
<div><%= render 'header' %></div>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Sales Visit Schedule Page</h1>
  </div> 
  
  
  <div id="schedule-form">
    
    
    
    
    <p class="instruction">Please fill up your schedule information here</p>
  <%= form_tag({:action => 'create'}, :id => 'commentForm', :class => "cmxform") do %>
   <fieldset>
    <label for="cdate">
      <div>Date & Time</div>
      <%= text_field(:schedule, :date, {:class => "datetimepicker valid", :id => 'cdate', :required => true}) %>
    </label>
    
    <label id="company">
      <div>Customer Name</div>
      <%= collection_select(:schedule, :company_id, @companies, :id, :name, {:prompt=>"Please Select Company"}, {:class=>'e9', :style=>"width:350px", :required => true}) %> 
    </label>
    <label id="location">
      <div>Customer Location</div>
        <%= grouped_collection_select :schedule, :location_id, Company.order(:name), :locations, :name, :id, :name, {:prompt=>"Please Select Company"}, {:class=>'e9', 
          :style=>"width:350px"} %>
    </label>
    <label>   
      <div>Sales Name</div>
      <%= collection_select(:schedule, :sale_id, @sale, :id, :name, {:prompt=>"Please Select Company"}, {:class=>'e9', 
          :style=>"width:350px", :required => true}) %>
    </label>
  
  
  <div class="checkbox-inline">
  <div><b>Nilpeter Products</b></div>
    <div class="field">
    <% @nilpeter_products.each do |category| %>
      <%= check_box_tag('products[]', category.id, false, id: dom_id(category)) %>
      <%= category.name %><br/>
    <% end %>
    </div>
  </div>

  </br>

  <div class="checkbox-inline">
  <div><b>OEM Products</b></div>
    <div class="field">
    <% @oem1.each do |category| %>
      <%= check_box_tag('products[]', category.id) %>
      <%= category.name %><br>
    <% end %>
    </div>
  </div>

  <div class="checkbox-inline">
    </br>
    <div class="field">
    <% @oem2.each do |category| %>
      <%= check_box_tag('products[]', category.id) %>
      <%= category.name %><br>
    <% end %>
    </div>
  </div>

 
  
  
  <label class="blink">
      <div>Project Description</div>
      <%= text_area(:schedule, :project, :required => true) %>
   </label>
  
    <%= submit_tag('Create Schedule') %>
  
   </fieldset>
    
  <% end %> 
  </div>
    
    <!-- / footer -->
<div><%= render 'footer' %></div>
</div>

<div><%= render 'hover' %></div>



<%= javascript_tag do %>  

<%#*http://jsfiddle.net/Sk8erPeter/Yca4Z/%>
(function($) {
    $.fn.blink = function(options) {
        

        return this.each(function() {
            var obj = $(this);
            
                if ($(obj).css("visibility") == "visible") {
                    $(obj).css('visibility', 'hidden');
                }
                else {
                    $(obj).css('visibility', 'visible');
                }
            
        });
    }
}(jQuery)) 


  $(document).ready(function () { 
  
    
    
    $('.datetimepicker').datetimepicker({
        format:'d/m/Y H:i'
     });
    $(".e9").select2(); 
    $("#commentForm").validate();
    
    
     $.ionSound({
                    sounds: [
                        "schedule"
                    ],
                  
                    path: "http://k007.kiwi6.com/hotlink/pxc891oxo6/",
                    multiPlay: true,
                    volume: "1.0"
                    
                });
                
                $.ionSound.play("schedule");
    
    
    $.ionSound({
            sounds: [
               
                "1530346"
            ],
            <%#*path: "http://www.fromtexttospeech.com/texttospeech_output_files/0851407001394869628/",%>
            path: "http://k007.kiwi6.com/hotlink/7zp3wj4k6i/",
            multiPlay: true,
            volume: "1.0"
        });
    
        
   
      var x = 0;
      var intervalID = setInterval(function(){
            // method to be executed;
            // $.ionSound.play("explosion"); 
            if ($('label.error').length > 0) {
                $.ionSound.play("1530346"); 
                speech();
                if (++x === 1) {
                    window.clearInterval(intervalID);
                }
            }   
      },1000);

      
      setInterval(function () {
         // Your logic here
         $('label.error').blink();    
      }, 500);
 
      function speech() { 
            setInterval(function () {
               // Your logic here
                if ($('label.error').length > 0) {
                      $.ionSound.play("1530346");   
                }
            }, 10000);
      } 
    
    

  });
  
 

<% end %>
  
  
	