<h1>Welcome to Nilpeter Scheduling form</h1>


<%#= stylesheet_link_tag "jquery.datetimepicker" %>
<%#= javascript_include_tag "jquery.datetimepicker" %>

<ul class="nav nav-pills">
  <li ><%= link_to "Calendar", :action => 'calendar' %></li>
  <li class="active"><%= link_to "Schedule", :action => 'schedule' %></li>
  <li ><%= link_to "Table", :action => 'index' %></li>
</ul>

<p>Please fill up your schedule information here</p>

<%= form_tag(:action => 'create') do %>

  
  <label>
    <div>Date & Time</div>
    <%= text_field(:schedule, :date, :class => "datetimepicker") %>
  </label>
  <label>
    <div>Customer Name</div>
    <%= text_field(:schedule, :customer) %>
  </label>
  <label>
    <div>Customer Location</div>
    <%= text_field(:schedule, :location) %>
  </label>
  <label>
   
    <div>Sales Name</div>
    <%= collection_select(:schedule, :sales, @sale, :name, :name) %>
  </label>
  <label>
    <div>Project Description</div>
    <%= text_area(:schedule, :project) %>
  </label>
  <div class="error"><%= @error %></div>
  
  <%= submit_tag('Create Schedule') %>

  
<% end %>
 

<%= javascript_tag do %>  
  $(function(){
      <%#*$('.datetimepicker').appendDtpicker({"inline": true});%>
      $('.datetimepicker').datetimepicker({
        format:'d/m/Y H:i'
      });
  });
<% end %>
  
  
	