<style>
  .cmxform.schedule {
       max-width: 450px;
       padding: 19px 29px 29px;
       margin: 0 auto 20px;
       background-color: #DDDDDD;
       border: 1px solid #e5e5e5;
       -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
               border-radius: 5px;
       -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
               box-shadow: 0 1px 2px rgba(0,0,0,.05);
       margin-bottom: 0px;
       text-area
  }
  
  label,
  .checkbox-inline b {
      color: #303030;
   }
   
   .checkbox-inline .field {
     color: #3f3f3f;
   }
   
   .btn.btn-large.btn-primary {background-color: #178FE5;}
   
   .instruction {
     text-align: center;
     margin: 0px;
   }
    
   .project-des {font-size: 12pt;}
</style>

<div class="container"> 
  <div id="schedule-form">
  <p class="instruction">Please fill up your schedule information here</p>
  <%= form_tag({:action => 'create'}, :id => 'commentForm', :class => "cmxform schedule") do %>
   <fieldset>
    <label for="cdate">
      <div>Date & Time</div>
      <%= text_field(:schedule, :date, {:class => "datetimepicker valid", :id => 'cdate', :required => true}) %>
    </label>  
    <label id="company">
      <div>Customer Name</div>
      <%= collection_select(:schedule, :company_id, @companies, :id, :name, {:prompt=>"Please Select Company"}, {:class=>'e9', :style=>"width:350px", :required => true}) %> 
    </label>
    <label id="location">
      <div>Customer Location</div>
        <%= grouped_collection_select :schedule, :location_id, Company.order(:name), :locations, :name, :id, :name, {:prompt=>"Please Select Company"}, {:class=>'e9', 
          :style=>"width:350px"} %>
    </label>
    <%= hidden_field(:schedule, :sale_id, :value => User.find(current_user.id).sale_id) %>
    <div class="checkbox-inline">
    <div><b>Nilpeter Products</b></div>
      <div class="field">
      <% @nilpeter_products.each do |category| %>
        <%= check_box_tag('products[]', category.id, false, id: dom_id(category)) %>
        <%= category.name %><br/>
      <% end %>
      </div>
    </div>
  </br>
  <div class="checkbox-inline">
  <div><b>OEM Products</b></div>
    <div class="field">
    <% @oem1.each do |category| %>
      <%= check_box_tag('products[]', category.id) %>
      <%= category.name %><br>
    <% end %>
    </div>
  </div>
  <div class="checkbox-inline">
    </br>
    <div class="field">
    <% @oem2.each do |category| %>
      <%= check_box_tag('products[]', category.id) %>
      <%= category.name %><br>
    <% end %>
    </div>
  </div>
  <label class="blink">
    <div>Project Description</div>
    <%= text_area(:schedule, :project, :required => true, :class => 'project-des') %>
   </label>
    <%= submit_tag('Create Schedule', class: "btn btn-large btn-primary") %>
   </fieldset>  
  <% end %> 
  </div>
</div>
<div><%= render 'hover' %></div>

<%= javascript_tag do %>  
(function($) {
    $.fn.blink = function(options) {
        return this.each(function() {
            var obj = $(this);
                if ($(obj).css("visibility") == "visible") {
                    $(obj).css('visibility', 'hidden');
                }
                else {
                    $(obj).css('visibility', 'visible');
                }      
        });
    }
}(jQuery)) 

  $(document).ready(function () { 
    $('.datetimepicker').datetimepicker({
        format:'d/m/Y H:i'
     });
    $(".e9").select2(); 
    $("#commentForm").validate();
    $.ionSound({
                   sounds: [
                       "schedule"
                   ],
                   path: "http://k007.kiwi6.com/hotlink/pxc891oxo6/",
                   multiPlay: true,
                   volume: "1.0"
               });
               $.ionSound.play("schedule");
    $.ionSound({
            sounds: [
               
                "1530346"
            ],
            path: "http://k007.kiwi6.com/hotlink/7zp3wj4k6i/",
            multiPlay: true,
            volume: "1.0"
        });

      var x = 0;
      var intervalID = setInterval(function(){
            // method to be executed;
            // $.ionSound.play("explosion"); 
            if ($('label.error').length > 0) {
                $.ionSound.play("1530346"); 
                speech();
                if (++x === 1) {
                    window.clearInterval(intervalID);
                }
            }   
      },1000);   
      setInterval(function () {
         // Your logic here
         $('label.error').blink();    
      }, 500);
 
      function speech() { 
            setInterval(function () {
               // Your logic here
                if ($('label.error').length > 0) {
                      $.ionSound.play("1530346");   
                }
            }, 10000);
      } 
  });
<% end %>
  
  
	