<h1>Welcome to Nilpeter Scheduling form</h1>


<%#= stylesheet_link_tag "jquery.datetimepicker", "select2" %>
<%#= javascript_include_tag "jquery.datetimepicker", "select2" %>

<ul class="nav nav-pills">
  <li ><%= link_to "Calendar", :action => 'calendar' %></li>
  <li class="active"><%= link_to "Schedule", :action => 'schedule' %></li>
  <li ><%= link_to "Table", :action => 'index' %></li>
</ul>

<p>Please fill up your schedule information here</p>



<%= form_tag(:action => 'create') do %>

  <label>
    <div>Date & Time</div>
    <%= text_field(:schedule, :date, :class => "datetimepicker") %>
  </label>
  <label id="company">
    <div>Customer Name</div>
    <%= collection_select(:schedule, :customer, @companies, :name, :name, {:prompt=>"Please Select Company"}, {:class=>'e9'}) %> 
  </label>
  <label id="location">
    <div>Customer Location</div>
      <%= grouped_collection_select :schedule, :location, Company.order(:name), :locations, :name, :name, :name, {:prompt=>"Please Select Company"}, {:class=>'e9'} %>
  </label>
  <label>   
    <div>Sales Name</div>
    <%= collection_select(:schedule, :sales, @sale, :name, :name, {:prompt=>"Please Select Company"}, {:class=>'e9'}) %>
  </label>
  <label>
    <div>Project Description</div>
    <%= text_area(:schedule, :project) %>
  </label>
  <div class="error"><%= @error %></div>
  
  <%= submit_tag('Create Schedule') %>

  
<% end %> 
  

<%= javascript_tag do %>  
  <%#*Date picker function%>              
  $(function(){
      $('.datetimepicker').datetimepicker({
        format:'d/m/Y H:i'
      });
  });
  
  
  <%#*This is for select box%>
  $(document).ready(function() { 
      $(".e9").select2(); 
  });
<% end %>
  
  
	