<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=0.625"/>
  <title>NilpeterWeb</title>
  
    <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css", "http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.print.css",
      "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css",
      "//cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.css", "application" %>
    <%= javascript_include_tag "http://code.jquery.com/jquery-2.1.1.min.js", "http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js",
       "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js", "//cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.js", "application" %>
    
    
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  
</head>
<body>
<%= yield %>

</body>


</html>
